<!DOCTYPE html>
<html>
  <head>
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
    {% load static %}
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
{% if user.profile.custom_background %}
<body style="background: {{user.profile.custom_background}} !important">
{% else %}
<body style="background: teal !important">
{% endif %}
{% block body %}
<header class="fixed-top">
  <div class="icon-bar">
      <a href="/" style="background: {{user.profile.custom_navbar_color}}">
          <div class="brand-logo">
            <span>Ez</span>
            <span class="ber" style="color: {{user.profile.custom_navbar_color}}">ber</span>
            <span>le</span>
          </div>
      </a>
      <input type="checkbox" id="hi">
      <div id="menu" style="background: {{user.profile.custom_navbar_color}}">
          <label class="menu" for="hi">
              <div class="bar"></div>
              <div class="bar"></div>
              <div class="bar"></div>
          </label>
      </div>
      {% if '/anasayfa' in request.path %}
        <a class="aktif" href="{% url 'home' %}" style="background: {{user.profile.custom_navbar_color}}"><i class="fa fa-home"></i><span class="brand">Ana Sayfa</span></a>
      {% else %}
        <a href="{% url 'home' %}" style="background: {{user.profile.custom_navbar_color}}"><i class="fa fa-home"></i><span class="brand">Ana Sayfa</span></a>
      {% endif %}
      {% if '/sözlük' in request.path %}
        <a class="aktif" href="{% url 'dictionary' %}" style="background: {{user.profile.custom_navbar_color}}"><i class="fa fa-search"></i><span class="brand">Sözlük</span></a>
      {% else %}
        <a href="{% url 'dictionary' %}" style="background: {{user.profile.custom_navbar_color}}"><i class="fa fa-search"></i><span class="brand">Sözlük</span></a>
      {% endif %}
      {% if '/kelime_listesi' in request.path %}
        <a class="aktif" href="{% url 'word-list' %}" style="background: {{user.profile.custom_navbar_color}}"><i class="fas fa-clipboard-list"></i><span class="brand">Liste</span></a>
      {% else %}
        <a href="{% url 'word-list' %}" style="background: {{user.profile.custom_navbar_color}}"><i class="fas fa-clipboard-list"></i><span class="brand">Liste</span></a>
      {% endif %}
    {% if user.is_authenticated %}
      {% if '/accounts/logout' in request.path %}
        <a class="aktif" href="{% url 'account_logout' %}" style="background: {{user.profile.custom_navbar_color}}"><i class="fas fa-sign-out-alt"></i><span class="brand">Çıkış Yap</span></a>
      {% else %}
        <a href="{% url 'account_logout' %}" style="background: {{user.profile.custom_navbar_color}}"><i class="fas fa-sign-out-alt"></i><span class="brand">Çıkış Yap</span></a>
      {% endif %}
    {% else %}
      {% if '/accounts/login' in request.path %}
        <a class="aktif" href="{% url 'account_login' %}" style="background: {{user.profile.custom_navbar_color}}"><i class="fas fa-sign-in-alt"></i><span class="brand">Giriş Yap</span></a>
      {% elif '/accounts/password' in request.path %}
        <a class="aktif" href="{% url 'account_login' %}" style="background: {{user.profile.custom_navbar_color}}"><i class="fas fa-sign-in-alt"></i><span class="brand">Giriş Yap</span></a>
      {% elif '/accounts/signup/' in request.path %}
        <a class="aktif" href="{% url 'account_login' %}" style="background: {{user.profile.custom_navbar_color}}"><i class="fas fa-sign-in-alt"></i><span class="brand">Giriş Yap</span></a>
      {% else %}
        <a href="{% url 'account_login' %}" style="background: {{user.profile.custom_navbar_color}}"><i class="fas fa-sign-in-alt"></i><span class="brand">Giriş Yap</span></a>
      {% endif %}
    {% endif %}
  </div>
</header>

<button class="scroll_top" title="Yukarı çık"><i class="fas fa-arrow-circle-up"></i></button>
<div class="container container-media">
<div class="auth-form col-sm-8 col-md-6 text-center">
{% block content %}
{% endblock %}
{% endblock %}
{% block extra_body %}
{% endblock %}
</div>
  </div>
<script>
    scroll = $(".scroll_top")
    window.onscroll = function() {scrollFunction()}
    function scrollFunction() {
      if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
        scroll.css("display", "block")
      } else {
        scroll.css("display", "none")
      }
    }

    function topFunction() {
      document.body.scrollTop = 0
      document.documentElement.scrollTop = 0

</script>
  </body>
</html>
