{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

{% if 'kelime_listesi/' in request.path %}
<div style="width:100%; height:40px; background: powderblue">
  Kelime kaydınızı tutmak için öncelikle giriş yapın.
</div>
{% endif %}

<h1>{% trans "Sign In" %}</h1>

{% get_providers as socialaccount_providers %}


<p>Daha önce bir hesap oluşturmadıysanız lütfen <a href="{{ signup_url }}">buradan kayıt olun.</a></p>
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-error">
                {{ error|escape }}
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-error">
            {{ error|escape }}
        </div>
    {% endfor %}
{% endif %}
<form class="login d-grid" action="/accounts/login/?next{{request.path}}" method="POST">
    {% csrf_token %}
    <label for="id_email" class=" requiredField">E-posta*:</label>
    <div class="w-100"><input class="login-input" type="email" name="login" placeholder="E-posta Adresi..." id="id_email" required></div>
    <label for="id_password" class="requiredField">Şifre*:</label>
    <div class="w-100"><input class="login-input" type="password" name="password" placeholder="Kullanıcı Şifresi..." id="id_password" required></div>
    <label class="custom-cb" for="remember">Beni Hatırla:
        <input id="remember" type="checkbox">
        <span class="checkbox"></span>
    </label>
    <button type="submit" class="btn-before my-3 login-btn">Giriş Yap</button>
    <a href="/accounts/password/reset">Şifremi Unuttum</a>
</form>

<div class="socialaccount_ballot">
  <ul class="socialaccount_providers d-flex justify-content-center">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>
</div>
{% endblock %}
