{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<h1>Çıkış</h1>

<p>{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button onclick="goBack()" class="login-btn btn-secondary p-2">Önceki Sayfaya Dön</button>
  <button class="login-btn btn-before" type="submit">Çıkış Yap</button>
</form>
<script>
  function goBack() {
    event.preventDefault()
    history.back()
  }
</script>
{% endblock %}
