{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="/accounts/password/reset/key/1-set-password/">
                {% csrf_token %}
                <div><label for="id_password1">Yeni Parola*:</label></div>
                <div class="w-100"><input type="password" name="password1" placeholder="Yeni Parola" autocomplete="new-password" required="" id="id_password1"></div>
                <div><label for="id_password2">Yeni Parola* (tekrar):</label></div>
                <div class="w-100"><input type="password" name="password2" placeholder="Yeni Parola (tekrar)" required="" id="id_password2"></div>
                <button type="submit" name="action" value="parola değiştir" class="btn-before login-btn">Şifreyi değiştir</button>
            </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
{% endblock %}
