{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}Kayıt ol{% endblock %}

{% block content %}
<h1>Kayıt ol</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-error">
                {{ error|escape }}
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-error">
            {{ error|escape }}
        </div>
    {% endfor %}
{% endif %}
<form class="signup" id="signup_form" method="POST" action="/accounts/signup/">
  {% csrf_token %}
<div id="div_id_email">
  <label for="id_email" class=" requiredField">E-posta*:</label>
  <div>
    <input type="email" name="email" placeholder="E-posta adresi..." autocomplete="email" class="login-input" required id="id_email">
  </div>
</div>
<div id="div_id_password1">
  <label for="id_password1" class="requiredField">Parola*:</label>
    <div>
      <input type="password" name="password1" placeholder="Parola..." autocomplete="new-password" class="login-input" required id="id_password1">
    </div>
</div>
<div id="div_id_password2">
  <label for="id_password2" class="requiredField">Parola (tekrar)*:</label>
  <div>
    <input type="password" name="password2" placeholder="Parola (tekrar)..." class="login-input" required id="id_password2">
  </div>
</div>
  <button class="btn-before login-btn mt-3" type="submit">Kayıt ol »</button>
</form>
<div class="socialaccount_ballot">
  <ul class="socialaccount_providers d-flex justify-content-center">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>
</div>
{% endblock %}
