<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
{% if user.profile.custom_background_color %}
    <body style="background-color: {{user.profile.custom_background_color}} !important">
{% elif user.profile.custom_background_image %}
    <body style="background-image: {{user.profile.custom_background_image}} !important; background-size: 40%">
{% endif %}
<header class="fixed-top">
  <div class="icon-bar">
      <a href="/" style="background: {{user.profile.custom_navbar_color}}">
          <div class="brand-logo">
            <span>Ez</span>
            <span class="ber" style="color: {{user.profile.custom_navbar_color}}">ber</span>
            <span>le</span>
          </div>
      </a>
      <input type="checkbox" id="hi">
      <div id="menu" style="background: {{user.profile.custom_navbar_color}}">
          <label class="menu" for="hi">
              <div class="bar"></div>
              <div class="bar"></div>
              <div class="bar"></div>
          </label>
      </div>
      {% if '/anasayfa' in request.path %}
        <a class="aktif" href="{% url 'home' %}" style="background: {{user.profile.custom_navbar_color}}"><i class="fa fa-home"></i><span class="brand">Ana Sayfa</span></a>
      {% else %}
        <a href="{% url 'home' %}" style="background: {{user.profile.custom_navbar_color}}"><i class="fa fa-home"></i><span class="brand">Ana Sayfa</span></a>
      {% endif %}
      {% if '/sözlük' in request.path %}
        <a class="aktif" href="{% url 'dictionary' %}" style="background: {{user.profile.custom_navbar_color}}"><i class="fa fa-search"></i><span class="brand">Sözlük</span></a>
      {% else %}
        <a href="{% url 'dictionary' %}" style="background: {{user.profile.custom_navbar_color}}"><i class="fa fa-search"></i><span class="brand">Sözlük</span></a>
      {% endif %}
      {% if '/kelime_listesi' in request.path %}
        <a class="aktif" href="{% url 'word-list' %}" style="background: {{user.profile.custom_navbar_color}}"><i class="fas fa-clipboard-list"></i><span class="brand">Liste</span></a>
      {% else %}
        <a href="{% url 'word-list' %}" style="background: {{user.profile.custom_navbar_color}}"><i class="fas fa-clipboard-list"></i><span class="brand">Liste</span></a>
      {% endif %}
    {% if user.is_authenticated %}
      {% if '/accounts/logout' in request.path %}
        <a class="aktif" href="{% url 'account_logout' %}" style="background: {{user.profile.custom_navbar_color}}"><i class="fas fa-sign-out-alt"></i><span class="brand">Çıkış Yap</span></a>
      {% else %}
        <a href="{% url 'account_logout' %}" style="background: {{user.profile.custom_navbar_color}}"><i class="fas fa-sign-out-alt"></i><span class="brand">Çıkış Yap</span></a>
      {% endif %}
    {% else %}
      {% if '/accounts/login' in request.path %}
        <a class="aktif" href="{% url 'account_login' %}" style="background: {{user.profile.custom_navbar_color}}"><i class="fas fa-sign-in-alt"></i><span class="brand">Giriş Yap</span></a>
      {% elif '/accounts/password' in request.path %}
        <a class="aktif" href="{% url 'account_login' %}" style="background: {{user.profile.custom_navbar_color}}"><i class="fas fa-sign-in-alt"></i><span class="brand">Giriş Yap</span></a>
      {% elif '/accounts/signup/' in request.path %}
        <a class="aktif" href="{% url 'account_login' %}" style="background: {{user.profile.custom_navbar_color}}"><i class="fas fa-sign-in-alt"></i><span class="brand">Giriş Yap</span></a>
      {% else %}
        <a href="{% url 'account_login' %}" style="background: {{user.profile.custom_navbar_color}}"><i class="fas fa-sign-in-alt"></i><span class="brand">Giriş Yap</span></a>
      {% endif %}
    {% endif %}
  </div>
</header>

<div class="customization">
    <img src="{% static 'img/customization.png' %}" alt="Kişiselleştirme">
</div>

<div class="achievs">
    <img src="{% static 'img/başarılar.png' %}" alt="Başarılar">
</div>

{% if show_reminder_notif %}
<div class="reminder">
    <img src="{% static 'img/reminder-1.svg' %}" alt="Hatırlatıcı">
</div>
{% else %}
<div class="reminder">
    <img src="{% static 'img/reminder.svg' %}" alt="Hatırlatıcı">
</div>
{% endif %}

<div class="notif">
    <span></span>
</div>

<button class="scroll_top" title="Yukarı çık"><i class="fas fa-arrow-circle-up"></i></button>

{% block content %}
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/base.js' %}"></script>
{% endblock %}
<script>
    var csrf_token = "{{ csrf_token }}"
    var open_reminder = "{{open_reminder_daily}}"
    var is_authenticated = "{{user.is_authenticated}}"
    var reminder_count = "{{reminder_count}}"
</script>
</body>
</html>