<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
<header class="fixed-top">
  <div class="icon-bar">
      <a href="{% url 'home' %}">
          <div class="brand-logo">
            <span>Ez</span>
            <span class="span-ber">ber</span>
            <span>le</span>
          </div>
      </a>
      <div id="menu">
          <input type="checkbox" id="hi">
          <label class="menu" for="hi">
              <div class="bar"></div>
              <div class="bar"></div>
              <div class="bar"></div>
          </label>
      </div>
    {% if request.path == '/' %}
      <a class="aktif" href="{% url 'home' %}"><i class="fa fa-home"></i><span class="brand d-none">Ana Sayfa</span></a>
    {% else %}
      <a href="{% url 'home' %}"><i class="fa fa-home"></i><span class="brand d-none">Ana Sayfa</span></a>
    {% endif %}
    {% if 'sözlük' in request.path %}
      <a class="aktif" href="{% url 'dictionary' %}"><i class="fa fa-search"></i><span class="brand d-none">Sözlük</span></a>
    {% else %}
      <a href="{% url 'dictionary' %}"><i class="fa fa-search"></i><span class="brand d-none">Sözlük</span></a>
    {% endif %}
    {% if 'kelime_listesi' in request.path %}
      <a class="aktif" href="{% url 'word-list' %}"><i class="fas fa-clipboard-list"></i><span class="brand d-none">Liste</span></a>
    {% else %}
      <a href="{% url 'word-list' %}"><i class="fas fa-clipboard-list"></i><span class="brand d-none">Liste</span></a>
    {% endif %}
  {% if user.is_authenticated %}
    {% if 'accounts/logout' in request.path %}
      <a class="aktif" href="{% url 'account_logout' %}"><i class="fas fa-sign-out-alt"></i><span class="brand d-none">Çıkış Yap</span></a>
    {% else %}
      <a href="{% url 'account_logout' %}"><i class="fas fa-sign-out-alt"></i><span class="brand d-none">Çıkış Yap</span></a>
    {% endif %}
  {% else %}
    {% if 'accounts/login' in request.path %}
      <a class="aktif" href="{% url 'account_login' %}"><i class="fas fa-sign-in-alt"></i><span class="brand d-none">Giriş Yap</span></a>
    {% elif 'accounts/password' in request.path %}
      <a class="aktif" href="{% url 'account_login' %}"><i class="fas fa-sign-in-alt"></i><span class="brand d-none">Giriş Yap</span></a>
    {% elif 'accounts/signup/' in request.path %}
      <a class="aktif" href="{% url 'account_login' %}"><i class="fas fa-sign-in-alt"></i><span class="brand d-none">Giriş Yap</span></a>
    {% else %}
      <a href="{% url 'account_login' %}"><i class="fas fa-sign-in-alt"></i><span class="brand d-none">Giriş Yap</span></a>
    {% endif %}
  {% endif %}
  </div>
</header>

<button class="scroll2top" title="Yukarı çık"><i class="fas fa-arrow-circle-up"></i></button>

{% block content %}
{% endblock %}
<script>
    $(document).on("click", "a.dropdown-item", function() {
        var ths = $(this)
        var text = ths.parent().parent().prev().text()
        if (ths.find("span").html() == "Hatırlatıcıya ekle") {
            $.ajax({
                type:"GET",
                url: "{% url 'reminder' %}",
                data: {
                    'word': text,
                    'add 2 reminder': true,
                },
                dataType: 'json',
                success: function(data) {
                    stopNotif()
                    $(".notif").html("Hatırlatıcıya eklendi!").addClass("notif-show")
                    notifHide()
                    ths.html("Hatırlatıcıdan kaldır")
                }
            })
        } else if (ths.find("span").html() == "Hatırlatıcıdan kaldır") {
            $.ajax({
                type:"GET",
                url: "{% url 'reminder' %}",
                data: {
                    'word': text,
                    'remove from reminder': true,
                },
                dataType: 'json',
                success: function(data) {
                    stopNotif()
                    $(".notif").html("Hatırlatıcıdan kaldırıldı!").addClass("notif-show")
                    notifHide()
                    var attr = ths.parent().attr("data-reminder")
                    if ( typeof attr !== typeof undefined && attr !== false ) {
                        ths.parent().parent().parent().remove()
                    } else {
                        ths.html("Hatırlatıcıya ekle")
                    }
                }
            })
        }
    })

    function openReminder() {
        if ( !($(".reminder").hasClass("reminder-modal")) ) {
            $(".reminder").click()
            $.ajax({
                type:"GET",
                url: "{% url 'open-reminder' %}",
                dataType: 'json',
            })
        }
    }

    var open_reminder = "{{open_reminder_daily}}"
    var is_authenticated = "{{user.is_authenticated}}"
    var reminder_count = "{{reminder_count}}"
    setTimeout(function(){
        if (is_authenticated == "True") {
            if (open_reminder == "False" && reminder_count > 0) {
                openReminder()
            }
        }
    }, 5000)

    function closeReminder() {
        if ($('.reminder').hasClass("reminder-modal")) {
            $(document).click(function(e) {
                if ( $(e.target).closest('.reminder').length === 0 && !($(e.target).hasClass("fixed-top")) ) {
                    $(".times").click()
                }
            })
        }
    }

    $(document).click(function(){
        closeReminder()
    })

    $(".reminder").click(function(){
        if (is_authenticated == "True") {
            var ths = $(this)
            if ( !(ths.hasClass("reminder-modal")) ) {
                word_list = []
                quiz_db_list = []
                quiz_unl_list = []
                quiz_l_list = []
                $.ajax({
                    type:"GET",
                    url: "{% url 'get-reminder' %}",
                    data: {
                        'get-reminder': "get-reminder",
                    },
                    async:false,
                    dataType: 'json',
                    success: function(data) {
                        list = data.reminder_list
                        list.map(function(i){
                            word_list.push(i)
                        })
                        quiz_db = data.quiz_db
                        quiz_db.map(function(i){
                            quiz_db_list.push(i)
                        })
                        quiz_unl = data.quiz_unl
                        quiz_unl.map(function(i){
                            quiz_unl_list.push(i)
                        })
                        quiz_l = data.quiz_l
                        quiz_l.map(function(i){
                            quiz_l_list.push(i)
                        })
                    }
                })
                ths.addClass("reminder-modal py-4 px-sm-4 px-2").find("img").remove()
                setTimeout(function(){
                    ths.append(`
                                <span class="title-reminder">
                                    Hatırlatıcı
                                    <img src="{% static 'img/reminder.svg' %}" alt="Hatırlatıcı">
                                </span>
                                <div class="modal-body modal-body-reminder">
                                <div role="tabpanel">
                                    <ul class="nav nav-tabs">
                                        <li>
                                            <a class="nav-link active" data-toggle="tab" href="#kelimeler">
                                                <i class="fas fa-list-ol"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link" data-toggle="tab" href=".quiz-1">
                                                <i class="material-icons">filter_1</i>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link" data-toggle="tab" href=".quiz-2">
                                                <i class="material-icons">filter_2</i>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link" data-toggle="tab" href=".quiz-3">
                                                <i class="material-icons">filter_3</i>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div id="kelimeler" class="tab-pane active text-center">
                                            <ul class="modal-list"></ul>
                                        </div>
                                        <div class="tab-pane quiz-1 text-center">
                                            <ul class="modal-list"></ul>
                                        </div>
                                        <div class="tab-pane quiz-2 text-center">
                                            <ul class="modal-list"></ul>
                                        </div>
                                        <div class="tab-pane quiz-3 text-center">
                                            <ul class="modal-list"></ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="rem-tt">
                                    <i class="fas fa-question-circle"></i>
                                    <div class="tooltip-content">
                                        <div><i class="fas fa-list-ol"></i>Hatırlatıcıya kaydedilmiş kelimeler</div>
                                        <div><i class="material-icons">filter_1</i>En son olduğun "Öğreneceğim Kelimeler" quizinin sonuçları</div>
                                        <div><i class="material-icons">filter_2</i>En son olduğun "Öğrendiğim Kelimeler" quizinin sonuçları</div>
                                        <div><i class="material-icons">filter_3</i>En son olduğun "Biliyor muydun?" quizinin sonuçları</div>
                                    </div>
                                </div>
                                <div class="times"><span>&times;</span></div>
                                </div>`)
                                if (word_list.length > 0) {
                                    word_list.map(function(i){
                                        $("#kelimeler").find($(".modal-list"))
                                                       .append(`<li>
                                                                  <span>${i}</span>
                                                                  <div class="dropdown">
                                                                      <button class="btn-dd"
                                                                              type="button" id="dropdownReminder" data-toggle="dropdown"
                                                                              aria-haspopup="true" aria-expanded="false">
                                                                        <img src="{% static 'img/menu.png' %}" alt="Menu">
                                                                      </button>
                                                                      <div class="dropdown-menu" data-reminder="true" aria-labelledby="dropdownReminder">
                                                                        <a target="_blank" class="dropdown-item" href="/sözlük/q=${i}">
                                                                            <i class="fa fa-search"></i>
                                                                            Sözlükte arat
                                                                        </a>
                                                                        <a target="_blank" class="dropdown-item" href="/kelime_listesi/q=${i}">
                                                                            <i class="fas fa-clipboard-list"></i>
                                                                            Listende görüntüle
                                                                        </a>
                                                                        <a class="dropdown-item" href="#!">
                                                                            <i class="fas fa-bell"></i>
                                                                            <span>Hatırlatıcıdan kaldır</span>
                                                                        </a>
                                                                      </div>
                                                                  </div>
                                                                </li>`)
                                    })
                                } else {
                                    $("#kelimeler").find($(".modal-list"))
                                                       .append(`<li>
                                                                  <span>Hatırlatıcıya kelime kaydettiğinde burada gösterilir.</span>
                                                                </li>`)
                                }

                                if (quiz_unl_list.length > 0) {
                                    quiz_unl_list.map(function(i){
                                        if (i.is_correct) {
                                            $(".quiz-1").find("ul").append(`<li>
                                                                          <span class="correct">${i.english}</span>
                                                                          <div class="dropdown">
                                                                              <button class="btn-dd"
                                                                                      type="button" id="dropdownReminder" data-toggle="dropdown"
                                                                                      aria-haspopup="true" aria-expanded="false">
                                                                                <img src="{% static 'img/menu.png' %}" alt="Menu">
                                                                              </button>
                                                                              <div class="dropdown-menu" data-reminder="true" aria-labelledby="dropdownReminder">
                                                                                <a target="_blank" class="dropdown-item" href="/sözlük/q=${i.english}">
                                                                                    <i class="fa fa-search"></i>
                                                                                    Sözlükte arat
                                                                                </a>
                                                                                <a target="_blank" class="dropdown-item" href="/kelime_listesi/q=${i.english}">
                                                                                    <i class="fas fa-clipboard-list"></i>
                                                                                    Listende görüntüle
                                                                                </a>
                                                                              </div>
                                                                          </div>
                                                                        </li>`)
                                        } else {
                                            $(".quiz-1").find("ul").append(`<li>
                                                                          <span class="incorrect">${i.english}</span>
                                                                          <div class="dropdown">
                                                                              <button class="btn-dd"
                                                                                      type="button" id="dropdownReminder" data-toggle="dropdown"
                                                                                      aria-haspopup="true" aria-expanded="false">
                                                                                <img src="{% static 'img/menu.png' %}" alt="Menu">
                                                                              </button>
                                                                              <div class="dropdown-menu" data-reminder="true" aria-labelledby="dropdownReminder">
                                                                                <a target="_blank" class="dropdown-item" href="/sözlük/q=${i.english}">
                                                                                    <i class="fa fa-search"></i>
                                                                                    Sözlükte arat
                                                                                </a>
                                                                                <a target="_blank" class="dropdown-item" href="/kelime_listesi/q=${i.english}">
                                                                                    <i class="fas fa-clipboard-list"></i>
                                                                                    Listende görüntüle
                                                                                </a>
                                                                              </div>
                                                                          </div>
                                                                        </li>`)
                                        }
                                    })
                                } else {
                                    $(".quiz-1").find($(".modal-list"))
                                                       .append(`<li>
                                                                  <span>"Öğreneceğim Kelimeler" listesinden olduğun son quizin sonuçları burada gösterilir.</span>
                                                                </li>`)
                                }

                                if (quiz_l.length > 0) {
                                    quiz_l_list.map(function(i){
                                        if (i.is_correct) {
                                            $(".quiz-2").find("ul").append(`<li>
                                                                          <span class="correct">${i.english}</span>
                                                                          <div class="dropdown">
                                                                              <button class="btn-dd"
                                                                                      type="button" id="dropdownReminder" data-toggle="dropdown"
                                                                                      aria-haspopup="true" aria-expanded="false">
                                                                                <img src="{% static 'img/menu.png' %}" alt="Menu">
                                                                              </button>
                                                                              <div class="dropdown-menu" data-reminder="true" aria-labelledby="dropdownReminder">
                                                                                <a target="_blank" class="dropdown-item" href="/sözlük/q=${i.english}">
                                                                                    <i class="fa fa-search"></i>
                                                                                    Sözlükte arat
                                                                                </a>
                                                                                <a target="_blank" class="dropdown-item" href="/kelime_listesi/q=${i.english}">
                                                                                    <i class="fas fa-clipboard-list"></i>
                                                                                    Listende görüntüle
                                                                                </a>
                                                                              </div>
                                                                          </div>
                                                                        </li>`)
                                        } else {
                                            $(".quiz-2").find("ul").append(`<li>
                                                                          <span class="incorrect">${i.english}</span>
                                                                          <div class="dropdown">
                                                                              <button class="btn-dd"
                                                                                      type="button" id="dropdownReminder" data-toggle="dropdown"
                                                                                      aria-haspopup="true" aria-expanded="false">
                                                                                <img src="{% static 'img/menu.png' %}" alt="Menu">
                                                                              </button>
                                                                              <div class="dropdown-menu" data-reminder="true" aria-labelledby="dropdownReminder">
                                                                                <a target="_blank" class="dropdown-item" href="/sözlük/q=${i.english}">
                                                                                    <i class="fa fa-search"></i>
                                                                                    Sözlükte arat
                                                                                </a>
                                                                                <a target="_blank" class="dropdown-item" href="/kelime_listesi/q=${i.english}">
                                                                                    <i class="fas fa-clipboard-list"></i>
                                                                                    Listende görüntüle
                                                                                </a>
                                                                              </div>
                                                                          </div>
                                                                        </li>`)
                                        }
                                    })
                                } else {
                                    $(".quiz-2").find("ul").append(`<li>
                                                                        <span>"Öğrendiğim Kelimeler" listesinden olduğun son quizin sonuçları burada gösterilir.</span>
                                                                    </li>`)
                                }

                                if (quiz_db.length > 0) {
                                    quiz_db_list.map(function(i){
                                        if (i.is_correct) {
                                            $(".quiz-3").find("ul").append(`<li>
                                                                              <span class="correct">${i.english}</span>
                                                                              <a target="_blank" href="/sözlük/q=${i.english}">
                                                                                <i class="fa fa-search"></i>
                                                                              </a>
                                                                            </li>`)
                                        } else {
                                            $(".quiz-3").find("ul").append(`<li>
                                                                              <span class="incorrect">${i.english}</span>
                                                                              <a target="_blank" href="/sözlük/q=${i.english}">
                                                                                <i class="fa fa-search"></i>
                                                                              </a>
                                                                            </li>`)
                                        }
                                    })
                                } else {
                                    $(".quiz-3").find("ul").append(`<li>
                                                                        <span>"Biliyor muydun?" listesinden olduğun son quizin sonuçları burada gösterilir.</span>
                                                                    </li>`)
                                }

                }, 700)
            }
        } else {
            $("#loginModal").modal()
        }
    })

    $(document).on("click", ".times", function(){
        var ths = $(this)
        ths.parent().parent().find("span").remove()
        ths.parent().parent().find("div[role]").remove()
        ths.parent().parent().removeClass("reminder-modal py-4 px-sm-4 px-2")
        ths.parent().parent().append(`<img src="{% static 'img/reminder.svg' %}" alt="Hatırlatıcı">`)
        ths.prev().remove()
        $(".modal-body-reminder").remove()
        ths.remove()
    })

    $(".scroll2top").click(function(){
        topFunction()
    })

    function topFunction() {
      document.body.scrollTop = 0
      document.documentElement.scrollTop = 0
    }

    var timeoutId;

    function notifHide() {
        timeoutId = setTimeout(function(){
            $(".notif").removeClass("notif-show")
        }, 3000)
    }

    function stopNotif() {
        clearTimeout(timeoutId);
    }

    $(document).on("click", "i[title='Dinle']", function(){
        $("#ajax_audio")[0].play()
    })

    $(document).click(function(e) {
        if ( $(e.target).closest('.ajaxWordInfo').length === 0 ) {
            $(".ajaxWordInfo").eq(0).remove()
        }
    })

    var selection_text;
    var width;
    $(document.body).bind('mouseup', function(e){
        if (e.which === 1) {
            var sel;
            globalThis.x;
            globalThis.left;
            var y;
            if (window.getSelection) {
                sel = window.getSelection();
                oRange = sel.getRangeAt(0);
                oRect = oRange.getBoundingClientRect();
                width = Math.round( (Math.round(oRect.width) - 45)  / 2)
                left = Math.round( (Math.round(oRect.width) - 302)  / 2)
                height = Math.round(oRect.height) + 8
                x = Math.round(oRect.x + window.scrollX) + "px"
                y = Math.round(oRect.y + window.scrollY) + "px"
            }
            if ( !($(".ajaxWordInfo").length) ) {
                sel.toString() !== '' &&
                $(`<div class='ajaxWordInfo'></div>`).appendTo($(this))
                $(`<div class='ajaxWordInfo'>
                    <div class="ajaxWordDiv"></div>
                    <button class="ajaxWordBtn"><i class="fab fa-readme oldlace"></i></button>
                </div>`).css("top", `${parseInt(y)+height}px`).css("left", `${parseInt(x)+width}px`).appendTo($(this))
                selection_text = sel
            }
        }

    });

    $(document).on("click", ".ajaxWordBtn", function(){
        ths = $(this)
        ths.fadeOut("500")
        setTimeout(function(){
            $(".ajaxWordInfo").append(`<div class="sk-chase">
                                          <div class="sk-chase-dot"></div>
                                          <div class="sk-chase-dot"></div>
                                          <div class="sk-chase-dot"></div>
                                          <div class="sk-chase-dot"></div>
                                          <div class="sk-chase-dot"></div>
                                          <div class="sk-chase-dot"></div>
                                        </div>`)
        }, 500)
        $.ajax({
            type:"GET",
            url: "{% url 'ajax-word-info' %}",
            data: {
                'selection': selection_text.toString().trim(),
            },
            dataType: 'json',
            success: function(data) {
                if (!('success' in data)) {
                    $(".sk-chase").remove()
                    $(".ajaxWordInfo").css("left", `${parseInt(x)+width-Math.abs(left)}px`).css("padding", "10px 5px").draggable({ zIndex: 300, cursor: 'move' })
                    $(".ajaxWordDiv").addClass("p-3").css("width", "292px").css("height", "300px").append(`<table class="awdt">
                                                                                             <tr>
                                                                                                <th>Kelime</th>
                                                                                                <th>Hece</th>
                                                                                                <th>Telaffuz</th>
                                                                                                <th>Dinle</th>
                                                                                             </tr>
                                                                                             <tr>
                                                                                                <td>${data.word}</td>
                                                                                                <td>${data.syllables}</td>
                                                                                                <td>${data.pronunciation}</td>
                                                                                                <td class="audio"></td>
                                                                                             </tr>
                                                                                           </table>`)
                    if (data.audio != "None") {
                        $("td.audio").append(`
                                            <i title="Dinle" class="material-icons">volume_up</i>
                                            <audio id="ajax_audio" src="${data.audio}"></audio>
                                            `)
                    } else { $("td.audio").append(`
                                                <i title="Ses mevcut değil" class="material-icons">volume_off</i>
                                                <audio src=""></audio>
                                                `)
                    }
                    if (data.tr != "None") {
                        $(".ajaxWordDiv").append(`<div>
                                                    <strong>Türkçeleri:</strong>
                                                    <ul id="ajaxTrUl"></ul>
                                                 </div>`)
                        data.tr.map(function(i){
                            $("#ajaxTrUl").append(`<li>${i}</li>`)
                        })
                    }
                    data.all_results.map(function(i){
                        no = data.all_results.indexOf(i)
                        $(".ajaxWordDiv").append(`
                            <div data-ajax-id="${no}"></div>
                        `)
                        if (i["definition"]) {
                            $(`div[data-ajax-id=${no}]`).append(`<div>
                                                                    <strong>Tanım:</strong> <br>
                                                                    ${i["definition"]}
                                                                </div>`)
                        }
                        if (i["partOfSpeech"]) {
                            $(`div[data-ajax-id=${no}]`).append(`<div>
                                                                    <strong>Sözcük türü:</strong> <br>
                                                                    ${i["partOfSpeech"]}
                                                                </div>`)
                        }
                        if (i["synonyms"]) {
                            $(`div[data-ajax-id=${no}]`).append(`<div>
                                                                    <strong>Eş anlamlılar:</strong>
                                                                    <div class="flex-wrap" data-syn-id="${no}">
                                                                    </div>
                                                                </div>`)
                            i["synonyms"].map(function(x){
                                $(`div[data-syn-id=${no}]`).append(`<a href="/sözlük/q=${x}" target="_blank">${x}</a>`)
                            })
                        }
                        if (i["antonyms"]) {
                            $(`div[data-ajax-id=${no}]`).append(`<div>
                                                                    <strong>Zıt anlamlılar:</strong>
                                                                    <div class="flex-wrap" data-anto-id="${no}">
                                                                    </div>
                                                                </div>`)
                            i["antonyms"].map(function(x){
                                $(`div[data-anto-id=${no}]`).append(`<a href="/sözlük/q=${x}" target="_blank">${x}</a>`)
                            })
                        }
                        if (i["examples"]) {
                            $(`div[data-ajax-id=${no}]`).append(`<div>
                                                                    <strong>Örnek Cümleler:</strong>
                                                                    <ul data-ex-id="${no}">
                                                                    </ul>
                                                                </div>`)
                            i["examples"].map(function(x){
                                $(`ul[data-ex-id=${no}]`).append(`<li>${x}</li>`)
                            })
                        }
                    })
                } else {
                    stopNotif()
                    $(".notif").html("Kelime hakkında sonuç bulunamadı").addClass("notif-show")
                    notifHide()
                    $(".sk-chase").remove()
                    $(".ajaxWordInfo").append("<button class='ajaxWordBtn'><i class='fab fa-readme oldlace'></i></button>")
                }
            }
        })
    })

    scroll = $(".scroll2top")
    window.onscroll = function() {scrollFunction()}
    function scrollFunction() {
      if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
        scroll.css("display", "block")
      } else {
        scroll.css("display", "none")
      }
    }

    $(".menu").click(function() {
        $(".icon-bar").children().slice(2,6).toggleClass("d-none")
        if ( ($(".brand").hasClass("d-none")) ) {
            $(".brand").removeClass("d-none")
        }
        if ( $(".brand").css("display", "none") ) {
            $(".brand").css("display", "")
        }
    })

    function mediaHeader(x) {
      if (x.matches) {
        $(".icon-bar").children().slice(0,2).css("width", "50%")
        $(".icon-bar").children().slice(2,6).css("width", "100%")
        $("#menu").removeClass("d-none")
        $(".icon-bar").children().slice(2,6).addClass("d-none")
      } else {
        if ( !($(".brand").hasClass("d-none")) ) {
            $(".brand").addClass("d-none")
        }
        $(".icon-bar").children().css("width", "20%")
        $("#menu").addClass("d-none")
        $(".icon-bar").children().slice(2,6).removeClass("d-none")
        $('#hi').prop('checked', false);
      }
    }

    $(".icon-bar a").hover(function() {
        if ( $(".brand").hasClass("d-none") ) {
            $(this).children(".brand").fadeToggle().toggleClass("d-none")
        } else if ( $(this).children(".brand").css("display", "none") ) {
            $(this).children(".brand").css("display", "")
        }
    })

    var header = window.matchMedia("(max-width:576px)")
    mediaHeader(header)
    header.addListener(mediaHeader)
</script>
</body>
</html>