{% extends 'base.html' %}
{% load static %}
{% block title %} Sözlük {% endblock %}

{% block content %}

<div class="container-media">

<div class="row">
<div class="col-md-9 pd-neg">
    <div class="search mb-4">
        <div class="search-top d-flex justify-content-between">
            <div class="d-flex">
                <input title="Bir kelime arayın" class="srch-i" type="search" placeholder="Kelime ara.." onClick="this.setSelectionRange(0, this.value.length)" aria-autocomplete="none" autofocus>
                <button class="srch-btn" type="submit"><i class="material-icons">search</i></button>
                <div class="text-capitalize word align-self-center ml-2">
                    <span>{{word|capfirst}}</span>
                </div>
            </div>
            {% if data %}
            {% if is_english %}
            <div class="d-flex">
                {% if audio %}
                <div class="align-self-center mt-2 audio">
                    <i title="Dinle" id="audio" class="material-icons">volume_up</i>
                    <audio src="{{audio}}"></audio>
                </div>
                {% else %}
                <div class="align-self-center mt-2 audio">
                    <i title="Ses mevcut değil" class="material-icons ">volume_off</i>
                    <audio src=""></audio>
                </div>
                {% endif %}
                {% if user.is_authenticated %}
                    {% if not word_exists %}
                    <div title="Kelimeyi ekle" class="add-btn mx-1 position-relative align-self-center">
                        <span class="plus"></span>
                        <span class="minus"></span>
                    </div>
                    {% else %}
                    <div title="Kelimeyi sil" class="add-btn mx-1 position-relative align-self-center change">
                        <span class="plus"></span>
                        <span class="minus"></span>
                    </div>
                    {% endif %}
                {% else %}
                <div title="Kelimeyi ekle" class="add-btn add-btn-modal mx-1 position-relative align-self-center">
                    <div class="plus"></div>
                    <div class="minus"></div>
                </div>
                {% endif %}
            </div>
            {% endif %}
            {% endif %}
        </div>

        <div class="search-body">
            {% if data %}
                {% if is_english %}
                <table class="table table-hover table-striped">
                  <thead>
                    <tr>
                        <th class="category" scope="col">#</th>
                        <th class="category" scope="col">Kategori</th>
                        <th scope="col">İngilizce</th>
                        <th scope="col">Türkçe</th>
                        <th scope="col">Ekle</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for col in data %}
                    <tr class="tr-first">
                        <th class="category" scope="row">{{ forloop.counter }}</th>
                        <td class="category">{{ col.0 }}</td>
                        <td>{{ col.1 }}</td>
                        <td id="tr-first"><a class="hover-primary" href="{% url 'dictionary' col.2 %}">{{ col.2 }}</a></td>
                        <td>
                            <label class="custom-cb" id="checkbox" for="{{forloop.counter}}">
                                <input id="{{forloop.counter}}" type="checkbox" value="{{ col.2 }}"/>
                                <span class="checkbox"></span>
                            </label>
                        </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
                {% if data_2 %}
                <div class="scndTable">
                    "{{word|capfirst}}" kelimesinin içinde geçtiği bazı kalıplar
                </div>
                <table class="table table-hover table-striped table-responsive">
                  <thead>
                    <tr>
                        <th class="category" scope="col">#</th>
                        <th class="category" scope="col">Kategori</th>
                        <th scope="col">İngilizce</th>
                        <th scope="col">Türkçe</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for col in data_2 %}
                    <tr class="tr-first">
                        <th class="category" scope="row">{{ forloop.counter }}</th>
                        <td class="category">{{ col.0 }}</td>
                        <td>{{ col.1 }}</td>
                        <td><a class="hover-primary" href="{% url 'dictionary' col.2 %}">{{ col.2 }}</a></td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
                {% endif %}

                {% else %} <!-- is_turkish -->
                <table class="table table-striped">
                  <thead>
                    <tr>
                        <th class="category" scope="col">#</th>
                        <th class="category" scope="col">Kategori</th>
                        <th scope="col">Türkçe</th>
                        <th scope="col">İngilizce</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for col in data %}
                    <tr class="tr-first">
                        <th class="category" scope="row">{{ forloop.counter }}</th>
                        <td class="category">{{ col.0 }}</td>
                        <td>{{ col.1 }}</td>
                        <td><a class="hover-primary" href="{% url 'dictionary' col.2 %}">{{ col.2 }}</a></td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
            {% if data_2 %}
                <div class="scndTable">
                    "{{word|capfirst}}" kelimesinin içinde geçtiği bazı kalıplar veya cümle
                </div>
                <table class="table table-hover table-striped table-responsive">
                  <thead>
                    <tr>
                        <th class="category" scope="col">#</th>
                        <th class="category" scope="col">Kategori</th>
                        <th scope="col">Türkçe</th>
                        <th scope="col">İngilizce</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for col in data_2 %}
                    <tr class="tr-first">
                        <th class="category" scope="row">{{ forloop.counter }}</th>
                        <td class="category">{{ col.0 }}</td>
                        <td>{{ col.1 }}</td>
                        <td><a class="hover-primary" href="{% url 'dictionary' col.2 %}">{{ col.2 }}</a></td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
                {% else %}

                {% endif %}
                {% endif %}
            {% elif error %}
                <div class="srch-sug">
                    "<u>{{word|capfirst}}</u>" hakkında herhangi bir sonuç bulunamadı.
                    {% if suggestion_exists %}
                    <p>Şunları demek istemiş olabilir misiniz?</p>
                    <ul>
                        {% for word in suggestion_list %}
                        <li>
                            <a class="hover-primary" href="{% url 'dictionary' word %}">{{word}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% if user.is_authenticated %}
<div id="history-big" class="col-lg-2 col-md-3">
    <button id="open-his" class="history-head text-center">
        <img src="{% static 'img/history.png' %}" alt="Geçmiş">
        <span class="teal">Geçmiş</span>
    </button>
    <div class="history-body d-none">
        <ul>
        {% for history in last_20_history %}
        <li><a href="{% url 'dictionary' history.search %}">{{ history.search }}</a></li>
        {% endfor %}
        </ul>
    </div>
</div>

</div>

<div id="history-sm" class="col-12 mb-4">
    <div class="history-head text-center">
        <img src="{% static 'img/history.png' %}" alt="Geçmiş">
        <span class="teal">Geçmiş</span>
    </div>
    <div class="history-body-sm">
        <ul class="row">
        {% for history in last_20_history %}
        <li class="col-sm-6 history-li"><a href="{% url 'dictionary' history.search %}">{{ history.search }}</a></li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endif %}

{% if data %}
{% if is_english %}
    <div class="col-sm-12 col-lg-">
        {% if examples %}
        <div class="examples mb-4">
            <span class="text-center">Örnek Cümleler</span>
            <ul class="my-2">
                {% for ex in examples %}
                <li class="mx-2"><p class="ex">{{forloop.counter}}-) {{ex}}</p></li>
                {% endfor %}
            </ul>
        </div>
        {% else %}
        <div class="examples mb-4">
            <span class="text-center">Örnek Cümleler</span>
            <ul>
                <li>
                    Örnek cümle bulunamadı..
                </li>
            </ul>
        </div>
        {% endif %}
    </div>

    <div class="container">
        <div class="anto-syn">
            <div class="row">
                <div class="syn col-sm-6 mb-4">
                    <span class="text-center">Eş Anlamlılar</span>
                    <ul id="ul-syn">
                        {% if synonyms %}
                            {% for synonym in synonyms %}
                                <li><a href="{% url 'dictionary' synonym %}">{{ synonym }}</a></li>
                            {% endfor %}
                        {% else %}
                            <li>Bu kelimenin eş anlamı bulunamadı.</li>
                        {% endif %}
                    </ul>
                </div>
                <div class="anto col-sm-6">
                    <span class="text-center">Zıt Anlamlılar</span>
                    <ul id="ul-anto">
                        {% if antonyms %}
                            {% for antonym in antonyms %}
                                <li><a href="{% url 'dictionary' antonym %}">{{ antonym }}</a></li>
                            {% endfor %}
                        {% else %}
                            <li>Bu kelimenin zıt anlamı bulunamadı.</li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endif %}
</div>

<div id="fixedSearch">
    <input class="fixedSearchInput" placeholder="Kelime Ara.." type="text">
    <div class="swing fixedSearchSwing">
        <div class="object-rope"></div>
        <button class="fixedSearchBtn btn-before">
            <svg xmlns="http://www.w3.org/2000/svg" fill="white" width="24" height="24" viewBox="0 0 24 24">
                <path d="M13 7v-6l11 11-11 11v-6h-13v-10z"/>
            </svg>
        </button>
    </div>
</div>

{% if not user.is_authenticated %}
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content modal-login">
        <div class="modal-header">
          <h6 class="modal-title">Bu özelliğe erişmek için lütfen giriş yapın..</h6>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body">
            <form class="login d-grid" action="/accounts/login/?next{{request.path}}" method="POST">
                {% csrf_token %}
                <input class="login-input" type="email" name="login" placeholder="Email Adresi..." required>
                <input class="login-input" type="password" name="password" placeholder="Kullanıcı Şifresi..." required>
                <div>
                    <label class="custom-cb" for="remember">Beni Hatırla:
                        <input id="remember" type="checkbox">
                        <span class="checkbox"></span>
                    </label>
                </div>
                <button type="submit" class="btn-before my-2 login-btn">Giriş Yap</button>
                <a href="{% url 'account_signup' %}">Kayıt ol</a>
                <a href="/accounts/password/reset">Şifremi Unuttum</a>
                <div class="socialaccount_ballot login-btn">
                  <ul class="socialaccount_providers">
                    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                  </ul>
                </div>
            </form>
        </div>
      </div>
    </div>
</div>
{% endif %}


<script>
$(function(){

    window.onscroll = function() {scrollFixedSearch()}
    function scrollFixedSearch() {
      if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
        $("#scroll2top").css("display", "block")
        $("#fixedSearch").addClass("fixedSearchAnim")
      } else {
        $("#scroll2top").css("display", "none")
        $("#fixedSearch").removeClass("fixedSearchAnim")
      }
    }

    $(".fixedSearchBtn").click(function(e){
        var input = $(this).parent().prev().val().trim()
        if (input.length > 0) {
            window.location.pathname = "/sözlük/q=" + input + "/"
        } else if (input==="") {
            e.preventDefault()
        }
    })

    $(".fixedSearchInput").keypress(function(event){
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if(keycode == '13'){
            $(".fixedSearchBtn").click();
        }
    });

    function mediaCategory(x) {
      if (x.matches) {
        $(".category").hide()
      } else {
        $(".category").show()
      }
    }
    var category = window.matchMedia("(max-width:413px)")
    mediaCategory(category)
    category.addListener(mediaCategory)

    function mediaContainer(container) {
      if (container.matches) {
        $(".container-media").addClass("container")
      } else {
        $(".container-media").removeClass("container")
      }
    }
    var container = window.matchMedia("(min-width:576px)")
    mediaContainer(container)
    container.addListener(mediaContainer)

    function mediaSrch(x) {
      if (x.matches) {
        $(".srch-i").attr("placeholder", "Ara..");
        $(".search").css("min-height", "0")
      } else {
        $(".srch-i").attr("placeholder", "Kelime ara..");
      }
    }
    var srch = window.matchMedia("(max-width: 391px)")
    mediaSrch(srch)
    srch.addListener(mediaSrch)

    $(".srch-i").keypress(function(event){
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if(keycode == '13'){
            $(".srch-btn").click();
        }
    });

    $('p:contains("{{word}}")', document.body).each(function(){
      $(this).html($(this).html().replace(
            new RegExp("{{word}}", 'g'), '<span style="color:red; font-style:italic">'+ "{{word}}" +'</span>'
      ));
    });

    $(".srch-btn").click(function(e) {
        var input = $(this).prev().val().trim();
        if (input.length > 0) {
            window.location.pathname = "/sözlük/q=" + input + "/"
        } else if (input==="") {
            e.preventDefault()
        }
    })

    $("#open-his").click(function(event) {
        event.preventDefault(event);
        $(".history-body").removeClass("d-none", 100);
        $(".history-body").toggle("slide", { direction: "left" }, 300);
    })

    $("input:checkbox").click(function() {
        var limit = $("input:checkbox:checked").length >= 3;
        $("input:checkbox").not(":checked").attr("disabled",limit);
    });

    $("#audio").click(function() {
        $("audio")[0].play()
    });

    var tr_list = [];

    $(".add-btn").click(function() {
        var plus = $(".plus");
        var minus = $(".minus");
        var word = "{{ word }}";
        var audio = $("audio").attr("src");
        var ths = $(this);
        $(":checked").each(function () {
            var value = $(this).attr("value").trim();
            tr_list.push(value);
        });

        if ( !(ths.hasClass("add-btn-modal")) ) {
            if (ths.hasClass('change')) {
                ths.removeClass("change")
                ths.css("background", "teal")
            }
            else {
                ths.addClass("change")
                ths.css("background", "brown")
            }

            if (tr_list.length === 0) {
                tr_first = [];
                tr_first.push($("#tr-first").first().text().trim());

                $.ajax({
                         type:"GET",
                         url: "/word_cd",
                         data:{
                            "word_en": word,
                            "tr": tr_first,
                            "audio": audio
                         }
                      });
                tr_list.splice(0,tr_list.length)

            } else {
                $.ajax({
                     type:"GET",
                     url: "/word_cd",
                     data:{
                        "word_en": word,
                        "tr": tr_list,
                        "audio": audio
                     }
                });
                tr_list.splice(0,tr_list.length)
            }
        }
        else {
            $("#myModal").modal()
        }
    });

});
</script>

{% endblock %}

