{% extends 'base.html' %}
{% load static %}
{% block title %} Ezberle {% endblock %}
{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/pages/home.js' %}"></script>
{% endblock %}

{% block content %}
<div class="wrapper">
<div class="container container-home">

<div class="row">

    <div class="col-lg-3 col-sm-6 text-center">
        <div class="card card-shadow">
            <div><a href="https://www.merriam-webster.com/" target="_blank"><img class="card-img-top mx-auto pointer" src="{% static 'img/merriam.png' %}" alt="Merriam Webster"></a></div>
            <div class="card-body home-card">
                <div class="wotd-wrapper">
                    <a id="word_1" class="wotd" href="{% url 'dictionary-search' word_mer.english %}" target="_blank">
                        <span>{{ word_mer.english }}</span>
                    </a>
                    {% if word_mer.audio is not None %}
                        <div>
                            <span class="audio">
                                <i title="Dinle" data-id="1"  class="fas fa-volume-up"></i>
                            </span>
                        </div>
                        <audio id="au-1" src="{{word_mer.audio}}"></audio>
                    {% else %}
                        <div>
                            <span class="audio">
                                <i title="Ses mevcut değil"  class="fas fa-volume-mute"></i>
                            </span>
                        </div>
                        <audio src=""></audio>
                    {% endif %}
                </div>
                {% if word_mer.turkish.all %}
                    <ul class="wotd-tr-list">
                    {% for tr in word_mer.turkish.all %}
                        <li>
                            {{ tr }}
                        </li>
                    {% endfor %}
                    </ul>
                    <div class="home-card-footer center-h">
                    {% if user.is_authenticated %}
                        {% if mer_exists %}
                            <div><button data-id="1" class="add-btn-home btn-after"></button></div>
                        {% else %}
                            <div><button data-id="1" class="add-btn-home btn-before"></button></div>
                        {% endif %}
                    {% else %}
                        <div><button class="add-btn-home btn-before" data-toggle="modal" data-target="#loginModal"></button></div>
                    {% endif %}
                    </div>
                {% else %}
                    <ul class="wotd-tr-list text-center" style="font-weight:bold">
                        (&mdash;)
                    </ul>
                    <div class="home-card-footer center-h">
                    {% if user.is_authenticated %}
                        {% if mer_exists %}
                            <div><button data-id="1" class="add-btn-home btn-after disabled not-allowed" disabled></button></div>
                        {% else %}
                            <div><button data-id="1" class="add-btn-home btn-before disabled not-allowed" disabled></button></div>
                        {% endif %}
                    {% else %}
                        <div><button class="add-btn-home btn-before disabled not-allowed" data-toggle="modal" data-target="#loginModal" disabled></button></div>
                    {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-sm-6 text-center">
        <div class="card card-shadow">
            <div><a href="https://www.oxfordlearnersdictionaries.com/" target="_blank"><img class="card-img-top mx-auto pointer" src="{% static 'img/oxford.png' %}" alt="Oxford Dictionary"></a></div>
            <div class="card-body home-card">
                <div class="wotd-wrapper">
                    <a class="wotd" id="word_2" href="{% url 'dictionary-search' word_ox.english %}" target="_blank">
                        <span>{{ word_ox.english }}</span>
                    </a>
                    {% if word_ox.audio is not None %}
                        <div>
                            <span class="audio">
                                <i title="Dinle" data-id="2"  class="fas fa-volume-up"></i>
                            </span>
                        </div>
                        <audio id="au-2" src="{{word_ox.audio}}"></audio>
                    {% else %}
                        <div>
                            <span class="audio">
                                <i title="Ses mevcut değil"  class="fas fa-volume-mute"></i>
                            </span>
                        </div>
                        <audio src=""></audio>
                    {% endif %}
                </div>
                {% if word_ox.turkish.all %}
                    <ul class="wotd-tr-list">
                    {% for tr in word_ox.turkish.all %}
                        <li>
                            {{ tr }}
                        </li>
                    {% endfor %}
                    </ul>
                    <div class="home-card-footer center-h">
                    {% if user.is_authenticated %}
                        {% if ox_exists %}
                            <div><button data-id="2" class="add-btn-home btn-after"></button></div>
                        {% else %}
                            <div><button data-id="2" class="add-btn-home btn-before"></button></div>
                        {% endif %}
                    {% else %}
                        <div><button class="add-btn-home btn-before" data-toggle="modal" data-target="#loginModal"></button></div>
                    {% endif %}
                    </div>
                {% else %}
                    <ul class="wotd-tr-list text-center" style="font-weight:bold">
                        (&mdash;)
                    </ul>
                    <div class="home-card-footer center-h">
                    {% if user.is_authenticated %}
                        {% if ox_exists %}
                            <div><button data-id="2" class="add-btn-home btn-after disabled not-allowed" disabled></button></div>
                        {% else %}
                            <div><button data-id="2" class="add-btn-home btn-before disabled not-allowed" disabled></button></div>
                        {% endif %}
                    {% else %}
                        <div><button class="add-btn-home btn-before disabled not-allowed" data-toggle="modal" data-target="#loginModal" disabled></button></div>
                    {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-sm-6 text-center mb-sm-2">
        <div class="card card-shadow">
            <div><a href="https://www.dictionary.com/" target="_blank"><img class="card-img-top mx-auto dict pointer" src="{% static 'img/dictionary.jpg' %}" alt="Dictionary"></a></div>
            <div class="card-body home-card">
                <div class="wotd-wrapper">
                    <a class="wotd" id="word_3" href="{% url 'dictionary-search' word_dict.english %}" target="_blank">
                        <span>{{ word_dict.english }}</span>
                    </a>
                    {% if word_dict.audio is not None %}
                        <div>
                            <span class="audio">
                                <i title="Dinle" data-id="3"  class="fas fa-volume-up"></i>
                            </span>
                        </div>
                        <audio id="au-3" src="{{word_dict.audio}}"></audio>
                        {% else %}
                        <div>
                            <span class="audio">
                                <i title="Ses mevcut değil"  class="fas fa-volume-mute"></i>
                            </span>
                        </div>
                        <audio src=""></audio>
                    {% endif %}
                </div>
                {% if word_dict.turkish.all %}
                    <ul class="wotd-tr-list">
                    {% for tr in word_dict.turkish.all %}
                        <li>
                            {{ tr }}
                        </li>
                    {% endfor %}
                    </ul>
                    <div class="home-card-footer center-h">
                    {% if user.is_authenticated %}
                        {% if dict_exists %}
                            <div><button data-id="3" class="add-btn-home btn-after"></button></div>
                        {% else %}
                            <div><button data-id="3" class="add-btn-home btn-before"></button></div>
                        {% endif %}
                    {% else %}
                        <div><button class="add-btn-home btn-before" data-toggle="modal" data-target="#loginModal"></button></div>
                    {% endif %}
                    </div>
                {% else %}
                    <ul class="wotd-tr-list text-center" style="font-weight:bold">
                        (&mdash;)
                    </ul>
                    <div class="home-card-footer center-h">
                    {% if user.is_authenticated %}
                        {% if dict_exists %}
                            <div><button data-id="3" class="add-btn-home btn-after disabled not-allowed" disabled>></button></div>
                        {% else %}
                            <div><button data-id="3" class="add-btn-home btn-before disabled not-allowed" disabled></button></div>
                        {% endif %}
                    {% else %}
                        <div><button class="add-btn-home btn-before disabled not-allowed" data-toggle="modal" data-target="#loginModal" disabled></button></div>
                    {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-sm-6 text-center mb-sm-2 mb-2">
        <div class="card card-shadow">
            <div>
              <a href="https://www.vocabulary.com/" target="_blank">
                <img class="card-img-top mx-auto pointer" height="85px" src="{% static 'img/vocabulary.png' %}" alt="Vocabulary">
              </a>
            </div>
            <div class="card-body home-card">
                <div class="wotd-wrapper">
                    <a class="wotd" id="word_4" href="{% url 'dictionary-search' word_vocab.english %}" target="_blank">
                        <span>{{ word_vocab.english }}</span>
                    </a>
                    {% if word_vocab.audio is not None %}
                        <div>
                            <span class="audio">
                                <i title="Dinle" data-id="4"  class="fas fa-volume-up"></i>
                            </span>
                        </div>
                        <audio id="au-4" src="{{word_vocab.audio}}"></audio>
                    {% else %}
                        <div>
                            <span class="audio">
                                <i title="Ses mevcut değil"  class="fas fa-volume-mute"></i>
                            </span>
                        </div>
                        <audio src=""></audio>
                    {% endif %}
                </div>
                {% if word_vocab.turkish.all %}
                    <ul class="wotd-tr-list">
                    {% for tr in word_vocab.turkish.all %}
                        <li>
                            {{ tr }}
                        </li>
                    {% endfor %}
                    </ul>
                    <div class="home-card-footer center-h">
                    {% if user.is_authenticated %}
                        {% if vocab_exists %}
                            <div><button data-id="4" class="add-btn-home btn-after"></button></div>
                        {% else %}
                            <div><button data-id="4" class="add-btn-home btn-before"></button></div>
                        {% endif %}
                    {% else %}
                        <div><button class="add-btn-home btn-before" data-toggle="modal" data-target="#loginModal"></div>
                    {% endif %}
                    </div>
                {% else %}
                    <ul class="wotd-tr-list text-center" style="font-weight:bold">
                        (&mdash;)
                    </ul>
                    <div class="home-card-footer center-h">
                    {% if user.is_authenticated %}
                        {% if vocab_exists %}
                            <div><button data-id="4" class="add-btn-home btn-after disabled not-allowed" disabled></button></div>
                        {% else %}
                            <div><button data-id="4" class="add-btn-home btn-before disabled not-allowed" disabled></button></div>
                        {% endif %}
                    {% else %}
                        <div><button class="add-btn-home btn-before disabled not-allowed" data-toggle="modal" data-target="#loginModal" disabled></button></div>
                    {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-lg-3 col-sm-6">
        <div class="card card-note cn-1c">
            <div class="text-center"><span class="title-home title-last">Son Eklenenler</span></div>
            <div class="overflow-auto">
                <ul class="ul-last-added">
                    {% for word in last_words %}
                    <li>
                        <a href="{% url 'dictionary-search' word.english %}" target="_blank">{{ word.english }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="cn-2p col-lg-3 col-sm-6 mb-6">
        <div class="cn-2c card card-note">
            <span class="title-home title-db">Biliyor muydun?</span>
            <div class="overflow-auto position-relative">
                <ul class="ul-db">
                    {% for word in random_db %}
                    <li>
                        <a href="{% url 'dictionary-search' word %}" target="_blank">{{ word }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% if user.is_authenticated %}
            <div class="ref-resp">
                <div class="swing refresh">
                    <div class="object-rope"></div>
                    <button class="object-content ref ref-db">
                        <img class="ref-img ref-img-db" src="{% static 'img/ref-arrow-ired.png' %}" alt="yenile" height="24px" width="24px">
                    </button>
                </div>
            </div>
            <div class="quiz-resp">
                <div class="swing quiz">
                    <div class="object-rope"></div>
                    <button class="object-content" type="button" data-toggle="modal" data-target="#quiz-db">
                        Quiz
                    </button>
                </div>
            </div>
            {% else %}
            <div class="ref-resp">
                <div class="swing refresh">
                    <div class="object-rope"></div>
                    <button class="object-content" type="button" data-toggle="modal" data-target="#loginModal">
                        <img class="ref-img ref-img-db" src="{% static 'img/ref-arrow-ired.png' %}" alt="yenile" height="24px" width="24px">
                    </button>
                </div>
            </div>
            <div class="quiz-resp">
                <div class="swing quiz">
                    <div class="object-rope"></div>
                    <button class="object-content" type="button" data-toggle="modal" data-target="#loginModal">
                        Quiz
                    </button>
                </div>
            </div>
            {% endif %}
        </div>
    </div>


    <div class="cn-3p col-lg-3 col-sm-6 mb-6">
        <div class="cn-3c card card-note">
            <span class="title-home title-unl">Öğreneceklerim</span>
            <div class="overflow-auto position-relative">
                <ul class="ul-unl">
                    {% for word in random_unl %}
                    <li>
                        <a href="{% url 'dictionary-search' word %}" target="_blank">{{ word }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% if user.is_authenticated %}
            <div class="ref-resp">
                <div class="swing refresh">
                    <div class="object-rope"></div>
                    <button class="object-content ref ref-unl">
                        <img class="ref-img ref-img-unl" src="{% static 'img/ref-arrow-ired.png' %}" alt="yenile" height="24px" width="24px">
                    </button>
                </div>
            </div>
            <div class="quiz-resp">
                <div class="swing quiz">
                    <div class="object-rope"></div>
                    <button class="object-content" type="button" data-toggle="modal" data-target="#quiz-unl">
                        Quiz
                    </button>
                </div>
            </div>
            {% else %}
            <div class="ref-resp">
                <div class="swing refresh">
                    <div class="object-rope"></div>
                    <button class="object-content" type="button" data-toggle="modal" data-target="#loginModal">
                        <img class="ref-img ref-img-unl" src="{% static 'img/ref-arrow-ired.png' %}" alt="yenile" height="24px" width="24px">
                    </button>
                </div>
            </div>
            <div class="quiz-resp">
                <div class="swing quiz">
                    <div class="object-rope"></div>
                    <button class="object-content" type="button" data-toggle="modal" data-target="#loginModal">
                        Quiz
                    </button>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="cn-4p col-lg-3 col-sm-6 mb-7">
        <div class="cn-4c card card-note">
            <span class="title-home title-l">Öğrendiklerim</span>
            <div class="overflow-auto position-relative">
                <ul class="ul-l">
                    {% for word in random_l %}
                    <li>
                        <a href="{% url 'dictionary-search' word %}" target="_blank">{{ word }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% if user.is_authenticated %}
            <div class="ref-resp">
                <div class="swing refresh">
                    <div class="object-rope"></div>
                    <button class="object-content ref ref-l">
                        <img class="ref-img ref-img-l" src="{% static 'img/ref-arrow-ired.png' %}" alt="yenile" height="24px" width="24px">
                    </button>
                </div>
            </div>
            <div class="quiz-resp">
                <div class="swing quiz">
                    <div class="object-rope"></div>
                    <button class="object-content" type="button" data-toggle="modal" data-target="#quiz-l">
                        Quiz
                    </button>
                </div>
            </div>
            {% else %}
            <div class="ref-resp">
                <div class="swing refresh">
                    <div class="object-rope"></div>
                    <button class="object-content" type="button" data-toggle="modal" data-target="#loginModal">
                        <img class="ref-img ref-img-l" src="{% static 'img/ref-arrow-ired.png' %}" alt="yenile" height="24px" width="24px">
                    </button>
                </div>
            </div>
            <div class="quiz-resp">
                <div class="swing quiz">
                    <div class="object-rope"></div>
                    <button class="object-content" type="button" data-toggle="modal" data-target="#loginModal">
                        Quiz
                    </button>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

</div>

</div>

<div class="modal fade" id="quiz-db" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content modal-content-db py-4 px-sm-4 px-2">
        <span class="title-quiz">Günlük Quiz</span>
        <button type="button" class="close close-quiz" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-body modal-body-db">
          <div class="modal-body-content modal-body-content-db">
            <div>Günlük Quiz'e hoş geldin.</div>
            <div>Lütfen quiz'e başlamak için aşağıdan sorulmasını istediğin kelime sayısını seç.</div>
            <div class="quiz-notes">
              Not:
              <ul>
                <li>
                  Sorulacak olan kelimeler "Biliyor Muydun?" listesinden rastgele olarak seçilecektir.
                </li>
                <li>
                  Her soruyu çözmek için 2 hakkın mevcut.
                </li>
                <li>Sorular arasında geçiş yapmak serbesttir ve istediğin soruda quiz'i bitirebilirsin.
                    Ancak quiz'i bitirdiğinde tüm yanıtlanmamış sorular yanlış olarak değerlendirilecektir.
                </li>
                <li>
                  Quiz'e girmek için kalan hakkın (her gün 12:00'de yenilenir): <span class="quiz_db_rights indianred"></span>
                </li>
              </ul>
            </div>
            <div class="mt-4">
              <label for="quiz-db">Kelime sayısı:</label>
              <select id="sel-db" class="custom-select" name="Kelime sayısı">
                <option value="8">8</option>
                <option value="10">10</option>
                <option value="12">12</option>
              </select>
              <button class="btn-before start start-db">Başlat</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="quiz-unl" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content modal-content-unl py-4 px-sm-4 px-2">
        <span class="title-quiz">Günlük Quiz</span>
        <button type="button" class="close close-quiz" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-body modal-body-unl">
          <div class="modal-body-content modal-body-content-unl">
            <div>Günlük Quiz'e hoş geldin.</div>
            <div>Lütfen quiz'e başlamak için aşağıdan sorulmasını istediğin kelime sayısını seç.</div>
            <div class="quiz-notes">
              Not:
              <ul>
                <li>
                  Sorulacak olan kelimeler "Öğreneceğim Kelimeler" listesinden rastgele olarak seçilecektir.
                  Bu yüzden listende gerektiği kadar kelime olduğundan emin ol.
                  Listende şu an <span class="indianred" id="count_unl"></span> tane kelime var.
                </li>
                <li>
                  Her soruyu çözmek için 2 hakkın mevcut.
                </li>
                <li>Sorular arasında geçiş yapmak serbesttir ve istediğin soruda quiz'i bitirebilirsin.
                    Ancak quiz'i bitirdiğinde tüm yanıtlanmamış sorular yanlış olarak değerlendirilecektir.
                </li>
                <li>
                  Quiz'e girmek için kalan hakkın (her gün 12:00'de yenilenir): <span class="quiz_unl_rights indianred"></span>
                </li>
              </ul>
            </div>
            <div class="mt-4">
              <label for="quiz-unl">Kelime sayısı:</label>
              <select id="sel-unl" class="custom-select" name="Kelime sayısı">
                <option value="8">8</option>
                <option value="10">10</option>
                <option value="12">12</option>
              </select>
              <button class="btn-before start start-unl">Başlat</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="quiz-l" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content modal-content-l py-4 px-sm-4 px-2">
        <span class="title-quiz">Günlük Quiz</span>
        <button type="button" class="close close-quiz" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-body modal-body-l">
          <div class="modal-body-content modal-body-content-l">
            <div>Günlük Quiz'e hoş geldin.</div>
            <div>Lütfen quiz'e başlamak için aşağıdan sorulmasını istediğin kelime sayısını seç.</div>
            <div class="quiz-notes">
              Not:
              <ul>
                <li>
                  Sorulacak olan kelimeler "Öğrendiğim Kelimeler" listesinden rastgele olarak seçilecektir.
                  Bu yüzden listende gerektiği kadar kelime olduğundan emin ol.
                  Listende şu an <span class="indianred" id="count_l"></span> tane kelime var.
                </li>
                <li>
                  Her soruyu çözmek için 2 hakkın mevcut.
                </li>
                <li>Sorular arasında geçiş yapmak serbesttir ve istediğin soruda quiz'i bitirebilirsin.
                    Ancak quiz'i bitirdiğinde tüm yanıtlanmamış sorular yanlış olarak değerlendirilecektir.
                </li>
                <li>
                  Quiz'e girmek için kalan hakkın (her gün 12:00'de yenilenir): <span class="quiz_l_rights indianred"></span>
                </li>
              </ul>
            </div>
            <div class="mt-4">
              <label for="sel-l">Kelime sayısı:</label>
              <select id="sel-l" class="custom-select" name="Kelime sayısı">
                <option value="8">8</option>
                <option value="10">10</option>
                <option value="12">12</option>
              </select>
              <button class="btn-before start start-l">Başlat</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

{% if not user.is_authenticated %}
<div class="modal fade" id="loginModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content modal-login">
        <div class="modal-header">
          <h6 class="modal-title">Bu özelliğe erişmek için lütfen giriş yapın..</h6>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body">
            <form class="login d-grid" action="/accounts/login/?next{{request.path}}" method="POST">
                {% csrf_token %}
                <input class="login-input" type="email" name="login" placeholder="Email Adresi..." required>
                <input class="login-input" type="password" name="password" placeholder="Kullanıcı Şifresi..." required>
                <div>
                    <label class="custom-cb" for="id_remember">Beni Hatırla:
                        <input id="id_remember" name="remember" type="checkbox">
                        <span class="checkbox"></span>
                    </label>
                </div>
                <button type="submit" class="btn-before my-2 login-btn">Giriş Yap</button>
                <a href="{% url 'account_signup' %}">Kayıt ol</a>
                <a href="/accounts/password/reset">Şifremi Unuttum</a>
                <div class="socialaccount_ballot login-btn">
                  <ul class="socialaccount_providers">
                    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                  </ul>
                </div>
            </form>
        </div>
      </div>
    </div>
</div>
{% endif %}
</div>
{% endblock %}