{% extends 'base.html' %}
{% load static %}
{% block title %} Kelime Listesi {% endblock %}
{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/pages/word_list.js' %}"></script>
{% endblock %}

{% block content %}
<div class="wrapper">
<div class="container-md">
<div class="row mt-4">

    <div class="col-lg-5 tbl-first mt-md-4">
        <div class="word-list position-relative">
            <span class="wl-title">Öğreneceklerim <br> (<span class="count-unl">{{ unlearned_count }}</span>)</span>
            <div class="tt">
              <i class="fas fa-question-circle"></i>
              <div class="tooltip-content">
                <div><i class="material-icons">volume_off</i>Kelimenin okunuşu yok</div>
                <div><i class="material-icons">volume_up</i>Kelimenin okunuşu</div>
                <div><i class="material-icons">done_all</i>Kelime ile listeye ekledikten sonra karşılaştım</div>
                <div><i class="material-icons">check_box</i>Kelimeyi ezberledim</div>
                <div><i class="material-icons">undo</i>Kelimeyi unuttum</div>
                <div><i class="material-icons">remove_red_eye</i>Kelimenin Türkçesini göster</div>
                <div><i class="material-icons">star_border</i>kelimeyi Favorilerime ekle</div>
                <div><i class="material-icons">delete</i>Kelimeyi listeden kaldır</div>
              </div>
            </div>
            <ul class="unl-word">
                {% if "kelime_listesi/q=" not in request.path or page_obj_unl|length > 0 %}
                    {% for word in page_obj_unl %}
                    <li data-id="{{word.id}}" class="li{{word.id}}">
                        <div class="en-section">
                            <div class="align-self-center word">
                                <a href="{% url 'dictionary-search' word.english %}" target="_blank">{{ word.english }}</a>
                            </div>
                            <div data-id="{{word.id}}" class="btn-grp">
                                {% if word.audio %}
                                <i title="Dinle" class="material-icons audio">volume_up</i>
                                <audio src="{{word.audio}}"></audio>
                                {% else %}
                                <i title="Ses mevcut değil" class="material-icons audio">volume_off</i>
                                <audio src="{{word.audio}}"></audio>
                                {% endif %}
                                {% if word.is_seen %}
                                <i title="Görüldü" class="material-icons tick-seen dodger">done_all</i>
                                {% else %}
                                <i title="Görüldü" class="material-icons tick-seen cadet">done_all</i>
                                {% endif %}
                                <i title="Ezberledim" class="material-icons tick-learn memorize">check_box</i>
                                <i data-toggle="collapse" data-target=".tr{{word.id}}" title="Türkçelerini göster"
                                   class="material-icons eye">remove_red_eye</i>
                                {% if not word.is_starred %}
                                <i title="Favorilere ekle" class="material-icons star">star_border</i>
                                {% else %}
                                <i title="Favorilere eklendi" class="material-icons star pale-yellow">star</i>
                                {% endif %}
                                <i title="Sil" class="material-icons del del-unl">delete</i>
                            </div>
                        </div>
                        <div class="tr-section collapse tr{{word.id}}">
                            <div>
                            {% if word.turkish.all %}
                                {% if word.turkish.all|length == 1 %}
                                    <span>Türkçesi:</span>
                                {% elif word.turkish.all|length > 1 %}
                                    <span>Türkçeleri:</span>
                                {% endif %}
                                </div>
                                <ul>
                                    {% for word_tr in word.turkish.all %}
                                    <li>
                                        {{ word_tr.turkish }}
                                    </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <div>
                                    <strong>&#8722;</strong><span>Bu kelimeye Türkçe eklenmemiş</span><strong>&#8722;</strong>
                                </div>
                            {% endif %}
                        </div>
                    </li>
                    {% endfor %}
                {% elif page_obj_unl|length == 0 and '$favorites' not in request.path %}
                    <li>Bu listeye <u>{{word}}</u> için bir kelime kayıt edilmemiş.</li>
                {% endif %}
            </ul>
        </div>
        {% if 'kelime_listesi/q=' not in request.path or unl_pg_count > 9 %}
        <nav aria-label="Page navigation example">
          <ul class="pagination pagination-sm justify-content-center">
          {% if page_obj_unl.has_previous %}
              <li class="page-item">
              <a class="page-link" href="?s={{ page_obj_unl.previous_page_number }}">&laquo</a>
            </li>
          {% else %}
              <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&laquo</a>
            </li>
          {% endif %}

          {% if page_obj_unl.number|add:'-4' > 1 %}
              <li class="page-item"><a class="page-link" href="?s={{ page_obj_unl.number|add:'-5' }}">&hellip;</a></li>
          {% endif %}

          {% for i in page_obj_unl.paginator.page_range %}
              {% if page_obj_unl.number == i %}
                  <li class="page-item active" aria-current="page">
                <span class="page-link">
                  {{ i }}
                  <span class="sr-only">(current)</span>
                </span>
              </li>
              {% elif i > page_obj_unl.number|add:'-5' and i < page_obj_unl.number|add:'5' %}
                   <li class="page-item"><a class="page-link" href="?s={{ i }}">{{ i }}</a></li>
              {% endif %}
          {% endfor %}

          {% if page_obj_unl.paginator.num_pages > page_obj_unl.number|add:'4' %}
             <li class="page-item"><a class="page-link" href="?s={{ page_obj_unl.number|add:'5' }}">&hellip;</a></li>
          {% endif %}

          {% if page_obj_unl.has_next %}
              <li class="page-item">
              <a class="page-link" href="?s={{ page_obj_unl.next_page_number }}">&raquo</a>
            </li>
          {% else %}
              <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&raquo</a>
            </li>
          {% endif %}
        </ul>
      </nav>
        {% endif %}
    </div>

    <div class="col-lg-5 mt-md-4">
        <div class="word-list position-relative">
            <span class="wl-title">Öğrendiklerim <br> (<span class="count-l">{{ learned_count }}</span>)</span>
            <div class="tt">
              <i class="fas fa-question-circle"></i>
              <div class="tooltip-content">
                <div><i class="material-icons">volume_off</i>Kelimenin okunuşu yok</div>
                <div><i class="material-icons">volume_up</i>Kelimenin okunuşu</div>
                <div><i class="material-icons">done_all</i>Kelime ile listeye ekledikten sonra karşılaştım</div>
                <div><i class="material-icons">check_box</i>Kelimeyi ezberledim</div>
                <div><i class="material-icons">undo</i>Kelimeyi unuttum</div>
                <div><i class="material-icons">remove_red_eye</i>Kelimenin Türkçesini göster</div>
                <div><i class="material-icons">star_border</i>kelimeyi Favorilerime ekle</div>
                <div><i class="material-icons">delete</i>Kelimeyi listeden kaldır</div>
              </div>
            </div>
            <ul class="l-word">
                {% if "kelime_listesi/q=" not in request.path or page_obj_l|length > 0 %}
                    {% for word in page_obj_l %}
                    <li data-id="{{word.id}}" class="li{{word.id}}">
                        <div class="en-section">
                            <div class="align-self-center word">
                                <a href="{% url 'dictionary-search' word.english %}" target="_blank">{{ word.english }}</a>
                            </div>
                            <div data-id="{{word.id}}" class="btn-grp">
                                {% if word.audio %}
                                <i title="Dinle" class="material-icons audio">volume_up</i>
                                <audio src="{{word.audio}}"></audio>
                                {% else %}
                                <i title="Ses mevcut değil" class="material-icons audio">volume_off</i>
                                <audio src="{{word.audio}}"></audio>
                                {% endif %}
                                {% if word.is_seen %}
                                <i title="Görüldü" class="material-icons tick-seen dodger">done_all</i>
                                {% else %}
                                <i title="Görüldü" class="material-icons tick-seen cadet">done_all</i>
                                {% endif %}
                                <i title="Unuttum" class="material-icons tick-unlearn memorize">undo</i>
                                {% if word.turkish %}
                                <i data-toggle="collapse" data-target=".tr{{word.id}}" title="Türkçelerini göster"
                                   class="material-icons eye">remove_red_eye</i>
                                {% endif %}
                                {% if not word.is_starred %}
                                <i title="Favorilere ekle" class="material-icons star">star_border</i>
                                {% else %}
                                <i title="Favorilere eklendi" class="material-icons star pale-yellow">star</i>
                                {% endif %}
                                <i title="Sil" class="material-icons del del-l">delete</i>
                            </div>
                        </div>
                        <div class="tr-section collapse tr{{word.id}}">
                            <div>
                            {% if word.turkish.all %}
                                {% if word.turkish.all|length == 1 %}
                                    <span>Türkçesi:</span>
                                {% elif word.turkish.all|length > 1 %}
                                    <span>Türkçeleri:</span>
                                {% endif %}
                                </div>
                                <ul>
                                    {% for word_tr in word.turkish.all %}
                                    <li>
                                        {{ word_tr.turkish }}
                                    </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <div>
                                    <strong>&#8722;</strong><span>Bu kelimeye Türkçe eklenmemiş</span><strong>&#8722;</strong>
                                </div>
                            {% endif %}
                        </div>
                    </li>
                    {% endfor %}
                {% elif page_obj_l|length == 0 and '$favorites' not in request.path %}
                    <li>Bu listeye <u>{{word}}</u> için bir kelime kayıt edilmemiş.</li>
                {% endif %}
            </ul>
        </div>
        {% if 'kelime_listesi/q=' not in request.path or l_pg_count > 9 %}
        <nav aria-label="Page navigation example">
          <ul class="pagination pagination-sm justify-content-center">
          {% if page_obj_l.has_previous %}
              <li class="page-item">
              <a class="page-link" href="?p={{ page_obj_l.previous_page_number }}">&laquo</a>
            </li>
          {% else %}
              <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&laquo</a>
            </li>
          {% endif %}

          {% if page_obj_l.number|add:'-4' > 1 %}
              <li class="page-item"><a class="page-link" href="?p={{ page_obj_l.number|add:'-5' }}">&hellip;</a></li>
          {% endif %}

          {% for i in page_obj_l.paginator.page_range %}
              {% if page_obj_l.number == i %}
                  <li class="page-item active" aria-current="page">
                <span class="page-link">
                  {{ i }}
                  <span class="sr-only">(current)</span>
                </span>
              </li>
              {% elif i > page_obj_l.number|add:'-5' and i < page_obj_l.number|add:'5' %}
                   <li class="page-item"><a class="page-link" href="?p={{ i }}">{{ i }}</a></li>
              {% endif %}
          {% endfor %}

          {% if page_obj_l.paginator.num_pages > page_obj_l.number|add:'4' %}
             <li class="page-item"><a class="page-link" href="?p={{ page_obj_l.number|add:'5' }}">&hellip;</a></li>
          {% endif %}

          {% if page_obj_l.has_next %}
              <li class="page-item">
              <a class="page-link" href="?p={{ page_obj_l.next_page_number }}">&raquo</a>
            </li>
          {% else %}
              <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&raquo</a>
            </li>
          {% endif %}
          </ul>
        </nav>
        {% endif %}
    </div>

    <div class="col-lg-2 col-sm-8 word-mng mb-lg-0 mb-5 mt-4">
        <div>
            <div class="d-flex justify-content-center word-mng-search">
                {% if 'kelime_listesi/q=' in request.path and '$favorites' not in request.path %}
                    <input title="Bir kelime arayın" class="srch-i" type="search" placeholder="Kelime ara.." onClick="this.setSelectionRange(0, this.value.length)" aria-autocomplete="none" autofocus>
                    <button class="srch-btn" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                {% else %}
                    <input title="Bir kelime arayın" class="srch-i" type="search" placeholder="Kelime ara.." onClick="this.setSelectionRange(0, this.value.length)" aria-autocomplete="none" autofocus>
                    <button class="srch-btn" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                {% endif %}
            </div>
            {% if '$favorites' in request.path %}
            <div class="d-flex justify-content-center show-fav">
                <label class="custom-cb" for="show-fav">Favorileri Göster
                    <input id="show-fav" type="checkbox" checked>
                    <span class="checkbox"></span>
                </label>
            </div>
            {% else %}
            <div class="d-flex justify-content-center show-fav">
                <label class="custom-cb" for="show-fav">Favorileri Göster
                    <input id="show-fav" type="checkbox">
                    <span class="checkbox"></span>
                </label>
            </div>
            {% endif %}
        </div>
        <div class="mng-body">
            <div class="text-center mng-top">
                <div>
                    <span id="add-title-unl">Öğreneceklerime</span><br>
                    <label for="english-unl">Kelime Ekle:</label>
                </div>
                <div><input type="text" id="english-unl" name="english-unl" required autocomplete="off"></div>
                <div><label for="turkish-unl">Türkçesi:</label></div>
                <div><input type="text" id="turkish-unl" name="turkish-unl" class="input-tr-unl mt-1 turkish w-75" autocomplete="off"></div>
                <div class="d-flex justify-content-center">
                  <button class="del-tr del-tr-unl d-none"><i class="material-icons">indeterminate_check_box</i></button>
                  <button class="add-tr add-tr-unl"><i class="material-icons">add_box</i></button>
                </div>
                <div class="d-flex justify-content-center mb-1">
                  <input class="btn-danger-custom reset-unl" type="reset" value="Sıfırla">
                  <input class="btn-before add2unl" type="submit" value="Ekle">
                </div>
            </div>
        </div>


        <div class="text-center mng-bottom">
            <div>
                <span id="add-title-l">Öğrendiklerime</span> <br>
                <label for="english-l">Kelime Ekle:</label>
            </div>
            <div><input type="text" id="english-l" name="english-l" required autocomplete="off"></div>
            <div><label for="turkish-l">Türkçesi:</label></div>
            <div><input type="text" id="turkish-l" name="turkish-l" class="input-tr-l mt-1 turkish w-75" autocomplete="off"></div>
            <div class="d-flex justify-content-center">
              <button class="del-tr del-tr-l d-none"><i class="material-icons">indeterminate_check_box</i></button>
              <button class="add-tr add-tr-l"><i class="material-icons">add_box</i></button>
            </div>
            <div class="d-flex justify-content-center mng-form2 mb-sm-1 mb-lg-0">
              <input class="btn-danger-custom reset-l" type="reset" value="Sıfırla">
              <input class="btn-before add2l" type="submit" value="Ekle">
            </div>
        </div>
    </div>

</div>
</div>


<div id="err-mng">
  <div class="rounded position-relative err-mng d-none shadow-sm mt-1">
    <span class="err-msg"></span>
    <span class="times-err">&times;</span>
  </div>
</div>

</div>
<script>
    var count_unl = parseInt("{{ unlearned_count }}")
    var count_l = parseInt("{{ learned_count }}")
</script>
{% endblock %}