*{
  box-sizing:border-box;
}

.auth-form {
    display:block;
    margin:auto;
    background:oldlace;
    padding:1em 2em 2em 2em;
    border:thick double steelblue;
    height:625px !important;
    margin-top:48px
}

.auth-form a {
    color:blue !important;
}

.auth-form a:hover {
    text-decoration:underline !important
}

.icon-bar {
    width: 100%;
    background-color: teal;
    overflow: auto;
}

.icon-bar a, .icon-bar #menu {
    float: left;
    text-align:center;
    padding: 6px 0;
    transition: all 0.3s ease;
    color: #fff;
    width:20%;
}

#menu {
    height:48px
}

.icon-bar a:hover {
    background-color:rgba(222,84,53,1);
    color:powderblue;
    text-decoration: none !important
}

.aktif {
    background-color: yellowgreen;
}

.home-card {
    display: contents
}

.home-card button {
    width: 75%;
    align-self: center;
}

.home-card-footer {
    position:absolute;
    bottom:5px;
    left:50%;
    transform:translate(-50%);
    width:100%
}

.card {
    min-height: 265px !important;
    margin: 10px 0 10px 0 !important;
    padding-bottom:10px;
    background:oldlace !important
}

.card-note {
    height: 316px !important;
}

.card-img-top {
    max-width: 85px;
    cursor:pointer !important;
    background: oldlace !important
}

.table td, .table th {
    border-top:none !important;
    border-bottom:none !important
}

cb-dict {
    pointer-events: all !important;
    width: 18px;
    height: 18px;
    vertical-align: sub;
}

tbody {
    width:100%
}

tr {
    width:100%
}

.search {
    min-height:570px !important;
    margin-bottom: 50px;
    background: oldlace;
}

.search-top {
    border-bottom: thin solid darkgray;
    min-height:40px
}

.form-2 {
    height:40px;
    background: rgba(205,67,91,1);
    margin-left: -1px;
}

.srch-i {
    background-color: lightcoral;
    padding: 5px;
    color: #fff;
    width: 125px;
    height: 30px;
    margin-top: 4px;
    margin-left: 4px;
    padding-left: 5px;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    border: thin solid #000;
    border-right: none;
}

.srch-i::-webkit-input-placeholder {
    color:#fff;
}

.srch-i:focus {
    outline: none !important;
}

.srch-btn:focus {
    outline: none !important;
}

.srch-i::-webkit-search-cancel-button {
    color:#fff !important;
}

.srch-btn {
    height: 30px;
    margin-top: 4px;
    background: lightcoral;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    border: thin solid;
    border-left: none;
}

.ui-widget {
    font-size: .9em !important;
    font-weight: normal !important
}

.ui-menu-item-wrapper:hover {
    background: rgba(0, 0, 0, 0.5) !important;
    color:#fff !important
}

.add-btn {
    border: thin solid #000;
    border-radius: 25%;
    background: teal;
    cursor: pointer;
    width:25px;
    height:24px;
    position:relative;
    margin-top:2px;
    z-index: 1
}

.plus {
  position:absolute;
  width:2px;
  height:16px;
  background: #fff;
  top:50%;
  margin-top: -8px;
  left:51%;
  margin-left: -1px;
  transition: all 0.3s
}

.minus {
  position:absolute;
  height:2px;
  width:16px;
  background: #fff;
  left:50%;
  margin-left:-8px;
  top: 50%;
  margin-top:-1px;
  transition: all 0.3s
}

.change .plus {
    transform: rotate(90deg)
}

.change .minus {
    opacity: 0
}

.change {
    background: brown
}

.cb-dict {
    position: inherit !important;
    opacity: 1 !important;
}

.history-head {
    height: 40px;
    border-bottom: thin ridge darkgray;
    border-left: thin ridge darkgray;
    background: oldlace;
    padding-top:6px
}

.history-body, .history-body-sm {
    max-height: 570px;
    padding: 8px;
    border-left: thin ridge darkgray;
    background: oldlace;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 0 !important;
}

.examples {
    background: oldlace;
    border: thin ridge darkred
}

.anto-syn {
    margin-bottom: 50px;
    height: 250px;
}

.tr-search {
    color: #000 !important
}

.tr-search:hover {
    color:#00308F !important;
    text-decoration:underline !important
}

.en-search {
    color: #000 !important
}

.en-search:hover, .word > a:hover {
    color:#00308F !important;
    text-decoration:underline !important
}

.err-mng-unl, .err-mng-l {
    color:red
}

span.text-center {
    color:#00308F;
    display:table;
    margin:0 auto;
    font-weight: bold;
    padding:20px;
    border: medium outset aqua;
    background: darkturquoise;
}

.syn, .anto {
    height: 250px;
    width: inherit;
    background: oldlace;
    border-bottom: thin ridge darkred;
    border-top: thin ridge darkred;
}

.syn {
    border-left : thin ridge darkred;
    border-right: thin ridge darkred;
}

.anto {
    border-right: thin ridge darkred;
    border-left : thin ridge darkred;
}

ul {
    list-style: none !important;
    padding-left: 0 !important
}

#ul-anto, #ul-syn {
    margin-top: 21px !important;
}

#ul-syn > li, #ul-anto > li {
    border: medium outset darkturquoise !important;
    padding: 2%;
    background: aliceblue;
}

.search-words {
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    bottom:10px;
    width:75%
}

.search-words::placeholder {
    color: #000 !important
}

.tbl-words {
    height:625px;
    background: oldlace;
}

.add-tr, .del-tr {
    border:none;
    background:inherit;
    margin-left:5px
}

.add-tr:focus {
    outline: none !important;
}

.del-tr:focus {
    outline: none !important;
}

.fa-question-circle {
    z-index:1
}

.unl-word, .l-word {
    overflow-x: hidden;
}

.unl-word > li, .l-word > li {
    border: 2px solid maroon;
    padding: 8px;
    background: whitesmoke;
    border-radius: 50px;
    margin: 5px 10px;
}

@media (max-width:421px) {
    .icon-bar a {
        font-size: 16px !important;
        text-align:left
    }
    .icon-bar a i {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (min-width:312px) {
    .custom-select {
        width:25% !important
    }
}

@media (max-width:312px) {
    h5 {
        text-align:center;
    }
    .custom-select {
        width: 45% !important
    }
    .quiz-answer {
        width:75% !important
    }
    .chevron {
        font-size:smaller !important;
    }
    .chevron-right {
        right:0 !important
    }
    .chevron-left {
        left:0 !important
    }
}

@media (min-width:421px) {
    .icon-bar a {
        font-size: 24px !important;
    }
    .icon-bar a i {
        transition: transform 0.3s ease
    }
    .icon-bar a:hover i {
        transform: translateX(-5px)
    }
}

.title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: medium solid;
    padding: 5px;
    text-align:center;
}

.title-home {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: -15px;
    border: medium solid;
    padding:4px
}

.title-unl {
    background: paleturquoise;
}

.title-l {
    background: palegreen;
}

.title-star {
    background: palegoldenrod;
}

.title-last {
    background: palevioletred;
}

.star:hover {
    color:#f0ea02
}

.cadet:hover {
    color:dodgerblue
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #fff inset !important;
}

input:focus::placeholder {
  color: transparent !important;
}

@media (min-width:768px) and (max-width:768px) {
    .tbl-first {
        margin-right:-16px
    }
}

@media (max-width:397px) {
    .srch-i, .srch-btn {
        height:35px;
        margin-top:6px;
    }
    .search-top {
        padding-bottom:6px
    }
}

@media (min-width: 450px) {
    .table-responsive {
        display:table !important;
    }
}

@media (max-width: 450px) {
    .table-responsive {
        display:block !important;
    }
}

@media (max-width: 349px) {
    .tooltip-content {
        width:210px !important
    }
}

@media (max-width: 768px) {
    #history-big {
        display:none
    }
    #history-sm {
        margin-bottom: 10px;
    }
}

@media (min-width: 576px) and (max-width:576px) {
    .navbar-toggler {
        display:none !important
    }

}

@media (min-width: 576px) {
    .title {
        margin-top: -15px !important
    }
    .unl-word > li:first-child, .l-word > li:first-child {
        margin-top: 50px !important
    }
}

@media (max-width: 576px) {
    .srch-i {
        width:40%
    }
    .unl-word, .l-word {
        margin-top: -16px !important
    }
    .unl-word > li:first-child, .l-word > li:first-child {
        margin-top: 64px !important
    }
    .title {
        margin-top: -1px !important
    }
    .anto {
        margin-bottom: 50px !important;
    }
    .mng-bottom {
        margin-top: .5rem !important
    }
    .word-mng {
        margin-bottom: 25px !important;
    }
    .pagination:first-child {
        margin-bottom: 25px !important
    }
    .mng-form2 {
        margin-bottom:10px !important
    }
    .navbar-toggler {
        background:aliceblue !important;
    }
        .pd-neg {
        padding-right:0 !important;
        padding-left:0 !important
    }
    .container {
        padding-right:0 !important;
        padding-left:0 !important
    }
    .container-md {
        padding-right:0 !important;
        padding-left:0 !important
    }
    .icon-bar i {
        margin-left:10px;
    }
}

@media (min-width: 768px) {
    .mng-bottom {
        margin-top: .5rem !important
    }
    #history-sm {
        display:none
    }
    #history-big {
        display:block !important
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .examples {
        width: 450px !important
    }
}

@media (min-width: 992px) {
    .err-mng {
        width:80% !important
    }
}

@media (min-width: 463px) and (max-width: 576px) {
    .example-li {
        width: 40% !important
    }
}

@media (min-width:1200px) {
    .examples {
        width: 540px !important
    }
    .container-home {
        padding-bottom:45px
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .mng-bottom {
        margin-top: 0 !important;
    }
    .word-mng {
        margin-bottom: 25px !important
    }
    .pagination:first-child {
        margin-bottom: 20px !important
    }
}

.tr-first:first-child {
    border-top:none !important;
}



.tr-section > li {
    margin-left: 20px;
}

.eye {
    color: goldenrod;
}

.del {
    color:crimson;
}

.btn-grp i, .btn-grp button {
    outline: 0 !important;
    border: none !important;
    background: inherit !important;
}

.cadet {
    color: cadetblue
}

.dodger {
    color: dodgerblue
}

.tick-learn {
    color: green !important;
}

.tick-unlearn {
    color: green !important;
}

.pale-yellow {
    color: #f0ea02;
}

.refresh {
    position:absolute; right:5px; bottom:5px; cursor:pointer;
}

.transform-active {
  animation: refresh 1s ease-in-out forwards;
}

@keyframes refresh {
  from{ transform: rotate(0deg) }
  to{ transform: rotate(360deg) }
}

.tt {
  position: absolute;
  left:2px;
  top:0px;
}

.tooltip-content {
  display:none;
  position:absolute;
  background: paleturquoise;
  flex-direction: column;
  border: medium solid;
  padding: 2px;
  z-index: 1;
  width:300px
}

.tooltip-content div {
  display:flex;
  border-bottom: thin solid
}

.tooltip-content div:last-child {
  border-bottom:none !important;
}

.tooltip-content div i {
  align-self:center;
  margin-right: 5px;
}





body {
    background: teal !important;
    font-family: system-ui !important;
    font-weight: 600 !important;
}

html,
body {
  margin: 0;
  height:100%
}

input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


.menu {
    cursor: pointer;
    transition: 0.5s ease;
    height: 24px;
    width:24px !important;
    margin-top:8px
}
.menu:hover .bar {
    box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.3);
}
.menu .bar {
    width: 24px;
    height: 5px;
    background: #fff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    transition: 0.4s ease;
}
.menu .bar:not(:first-child) {
    margin-top: 3px;
}
#hi {
    position: absolute;
    left: -999px;
    top: -999px;
}
#hi:checked + .menu {
    transform: rotatey(180deg);
}
#hi:checked + .menu .bar {
    transform: rotatey(180deg) rotatex(360deg);
}
#hi:checked + .menu .bar:first-child {
    transform: rotate(-45deg);
    margin-top: 8px;
}
#hi:checked + .menu .bar:nth-child(2) {
    opacity: 0;
}
#hi:checked + .menu .bar:nth-child(3) {
    margin-top: -13px;
    transform: rotate(45deg);
}

.quiz {
    position:absolute;
    bottom:-35px;
    left:50%;
    transform:translate(-50%);
    background:brown;
    color:#fff;
    padding:3px 10px;
    transition: 0.3s
}

.quiz:hover {
    background:rgb(255, 0, 0);
    opacity:0.8;
    font-size:larger
}

.modal-content {
    border-radius: 1rem
}

.modal-content:hover {
    box-shadow: 2px 2px 2px #000
}

.modal-body {
    background: beige;
}

.modal-header {
    border-bottom:3px solid #dee2e6 !important;
    background:beige
}

.modal-footer {
    border-top:3px solid #dee2e6 !important;
    background:beige
}

.modal-body-unl, .modal-body-l {
    overflow: auto;
    max-height: 100%;
}

.b1 {
    background-color: #2b84be;
    box-shadow: 0px 4px #337095;
    font-size: 17px
}

.r3 {
    color: #c1c1c1;
    font-weight: 500
}

.close-quiz {
    position:absolute;
    right:2px;
    top:0
}

.close-quiz:focus {
    outline: none !important
}

.title-quiz {
    position: absolute;
    top: -16px;
    left: 50%;
    transform: translate(-50%);
    color: beige;
    background: teal;
    padding: 8px;
    border: medium solid beige;
}

.close-quiz span{
    color:seashell
}

.quiz-err-unl, .quiz-err-l {
    font-size:small;
    color:red;
}

.quiz-word {
    height:200px;
    background:
}

.book {
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
	--color:red;
	--duration: 4s;
	width: 32px;
	height: 12px;
	position: relative;
	margin: 32px 0 0 0;
	zoom: 1.5;
}

.book .inner {
	width: 32px;
	height: 12px;
	position: relative;
	transform-origin: 2px 2px;
	transform: rotateZ(-90deg);
	animation: book var(--duration) ease;
}

.book .inner .left,
    .book .inner .right {
	width: 60px;
	height: 4px;
	top: 0;
	border-radius: 2px;
	background: var(--color);
	position: absolute;
}

.book .inner .left:before,
      .book .inner .right:before {
	content: '';
	width: 48px;
	height: 4px;
	border-radius: 2px;
	background: inherit;
	position: absolute;
	top: -10px;
	left: 6px;
}

.book .inner .left {
	right: 28px;
	transform-origin: 58px 2px;
	transform: rotateZ(90deg);
	animation: left var(--duration) ease;
}

.book .inner .right {
	left: 28px;
	transform-origin: 2px 2px;
	transform: rotateZ(-90deg);
	animation: right var(--duration) ease;
}

.book .inner .middle {
	width: 32px;
	height: 12px;
	border: 4px solid var(--color);
	border-top: 0;
	border-radius: 0 0 9px 9px;
	transform: translateY(2px);
}

.book ul {
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	left: 50%;
	top: 0;
}

.book ul li {
	height: 4px;
	border-radius: 2px;
	transform-origin: 100% 2px;
	width: 48px;
	right: 0;
	top: -10px;
	position: absolute;
	background: var(--color);
	transform: rotateZ(0deg) translateX(-18px);
	animation-duration: var(--duration);
	animation-timing-function: ease;
}

.book ul li:nth-child(0) {
	animation-name: page-0;
}

.book ul li:nth-child(1) {
	animation-name: page-1;
}

.book ul li:nth-child(2) {
	animation-name: page-2;
}

.book ul li:nth-child(3) {
	animation-name: page-3;
}

.book ul li:nth-child(4) {
	animation-name: page-4;
}

.book ul li:nth-child(5) {
	animation-name: page-5;
}

.book ul li:nth-child(6) {
	animation-name: page-6;
}

.book ul li:nth-child(7) {
	animation-name: page-7;
}

.book ul li:nth-child(8) {
	animation-name: page-8;
}

.book ul li:nth-child(9) {
	animation-name: page-9;
}

.book ul li:nth-child(10) {
	animation-name: page-10;
}

.book ul li:nth-child(11) {
	animation-name: page-11;
}

.book ul li:nth-child(12) {
	animation-name: page-12;
}

.book ul li:nth-child(13) {
	animation-name: page-13;
}

.book ul li:nth-child(14) {
	animation-name: page-14;
}

.book ul li:nth-child(15) {
	animation-name: page-15;
}

.book ul li:nth-child(16) {
	animation-name: page-16;
}

.book ul li:nth-child(17) {
	animation-name: page-17;
}

.book ul li:nth-child(18) {
	animation-name: page-18;
}

@keyframes page-0 {
	4% {
		transform: rotateZ(0deg) translateX(-18px);
	}

	13%,
  54% {
		transform: rotateZ(180deg) translateX(-18px);
	}

	63% {
		transform: rotateZ(0deg) translateX(-18px);
	}
}

@keyframes page-1 {
	5.86% {
		transform: rotateZ(0deg) translateX(-18px);
	}

	14.74%,
  55.86% {
		transform: rotateZ(180deg) translateX(-18px);
	}

	64.74% {
		transform: rotateZ(0deg) translateX(-18px);
	}
}

@keyframes page-2 {
	7.72% {
		transform: rotateZ(0deg) translateX(-18px);
	}

	16.48%,
  57.72% {
		transform: rotateZ(180deg) translateX(-18px);
	}

	66.48% {
		transform: rotateZ(0deg) translateX(-18px);
	}
}

@keyframes page-3 {
	9.58% {
		transform: rotateZ(0deg) translateX(-18px);
	}

	18.22%,
  59.58% {
		transform: rotateZ(180deg) translateX(-18px);
	}

	68.22% {
		transform: rotateZ(0deg) translateX(-18px);
	}
}

@keyframes page-4 {
	11.44% {
		transform: rotateZ(0deg) translateX(-18px);
	}

	19.96%,
  61.44% {
		transform: rotateZ(180deg) translateX(-18px);
	}

	69.96% {
		transform: rotateZ(0deg) translateX(-18px);
	}
}

@keyframes page-5 {
	13.3% {
		transform: rotateZ(0deg) translateX(-18px);
	}

	21.7%,
  63.3% {
		transform: rotateZ(180deg) translateX(-18px);
	}

	71.7% {
		transform: rotateZ(0deg) translateX(-18px);
	}
}

@keyframes page-6 {
	15.16% {
		transform: rotateZ(0deg) translateX(-18px);
	}

	23.44%,
  65.16% {
		transform: rotateZ(180deg) translateX(-18px);
	}

	73.44% {
		transform: rotateZ(0deg) translateX(-18px);
	}
}

@keyframes page-7 {
	17.02% {
		transform: rotateZ(0deg) translateX(-18px);
	}

	25.18%,
  67.02% {
		transform: rotateZ(180deg) translateX(-18px);
	}

	75.18% {
		transform: rotateZ(0deg) translateX(-18px);
	}
}

@keyframes page-8 {
	18.88% {
		transform: rotateZ(0deg) translateX(-18px);
	}

	26.92%,
  68.88% {
		transform: rotateZ(180deg) translateX(-18px);
	}

	76.92% {
		transform: rotateZ(0deg) translateX(-18px);
	}
}

@keyframes page-9 {
	20.74% {
		transform: rotateZ(0deg) translateX(-18px);
	}

	28.66%,
  70.74% {
		transform: rotateZ(180deg) translateX(-18px);
	}

	78.66% {
		transform: rotateZ(0deg) translateX(-18px);
	}
}

@keyframes page-10 {
	22.6% {
		transform: rotateZ(0deg) translateX(-18px);
	}

	30.4%,
  72.6% {
		transform: rotateZ(180deg) translateX(-18px);
	}

	80.4% {
		transform: rotateZ(0deg) translateX(-18px);
	}
}

@keyframes page-11 {
	24.46% {
		transform: rotateZ(0deg) translateX(-18px);
	}

	32.14%,
  74.46% {
		transform: rotateZ(180deg) translateX(-18px);
	}

	82.14% {
		transform: rotateZ(0deg) translateX(-18px);
	}
}

@keyframes page-12 {
	26.32% {
		transform: rotateZ(0deg) translateX(-18px);
	}

	33.88%,
  76.32% {
		transform: rotateZ(180deg) translateX(-18px);
	}

	83.88% {
		transform: rotateZ(0deg) translateX(-18px);
	}
}

@keyframes page-13 {
	28.18% {
		transform: rotateZ(0deg) translateX(-18px);
	}

	35.62%,
  78.18% {
		transform: rotateZ(180deg) translateX(-18px);
	}

	85.62% {
		transform: rotateZ(0deg) translateX(-18px);
	}
}

@keyframes page-14 {
	30.04% {
		transform: rotateZ(0deg) translateX(-18px);
	}

	37.36%,
  80.04% {
		transform: rotateZ(180deg) translateX(-18px);
	}

	87.36% {
		transform: rotateZ(0deg) translateX(-18px);
	}
}

@keyframes page-15 {
	31.9% {
		transform: rotateZ(0deg) translateX(-18px);
	}

	39.1%,
  81.9% {
		transform: rotateZ(180deg) translateX(-18px);
	}

	89.1% {
		transform: rotateZ(0deg) translateX(-18px);
	}
}

@keyframes page-16 {
	33.76% {
		transform: rotateZ(0deg) translateX(-18px);
	}

	40.84%,
  83.76% {
		transform: rotateZ(180deg) translateX(-18px);
	}

	90.84% {
		transform: rotateZ(0deg) translateX(-18px);
	}
}

@keyframes page-17 {
	35.62% {
		transform: rotateZ(0deg) translateX(-18px);
	}

	42.58%,
  85.62% {
		transform: rotateZ(180deg) translateX(-18px);
	}

	92.58% {
		transform: rotateZ(0deg) translateX(-18px);
	}
}

@keyframes page-18 {
	37.48% {
		transform: rotateZ(0deg) translateX(-18px);
	}

	44.32%,
  87.48% {
		transform: rotateZ(180deg) translateX(-18px);
	}

	94.32% {
		transform: rotateZ(0deg) translateX(-18px);
	}
}

@keyframes left {
	4% {
		transform: rotateZ(90deg);
	}

	10%,
  40% {
		transform: rotateZ(0deg);
	}

	46%,
  54% {
		transform: rotateZ(90deg);
	}

	60%,
  90% {
		transform: rotateZ(0deg);
	}

	96% {
		transform: rotateZ(90deg);
	}
}

@keyframes right {
	4% {
		transform: rotateZ(-90deg);
	}

	10%,
  40% {
		transform: rotateZ(0deg);
	}

	46%,
  54% {
		transform: rotateZ(-90deg);
	}

	60%,
  90% {
		transform: rotateZ(0deg);
	}

	96% {
		transform: rotateZ(-90deg);
	}
}

@keyframes book {
	4% {
		transform: rotateZ(-90deg);
	}

	10%,
  40% {
		transform: rotateZ(0deg);
		transform-origin: 2px 2px;
	}

	40.01%,
  59.99% {
		transform-origin: 30px 2px;
	}

	46%,
  54% {
		transform: rotateZ(90deg);
	}

	60%,
  90% {
		transform: rotateZ(0deg);
		transform-origin: 2px 2px;
	}

	96% {
		transform: rotateZ(-90deg);
	}
}

.quiz-question {
    position:relative;
    height: 140px;
    background:#f9f6f2;
    border:thin solid
}

.quiz-question span {
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
}

.h5 {
    height:75px;
    overflow:auto
}

.chevron-right {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    font-size: 32px;
    border:none !important;
    background:inherit;
}

.chevron-left {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 32px;
    border:none !important;
    background:inherit;
}

.chevron-right:hover, .chevron-left:hover {
    text-shadow: 2px 2px 5px #000000;
}

.chevron-right:focus, .chevron-left:focus {
    outline: none !important
}

.quiz-result {
    position:relative;
    height:36px;
    width:36px;
    background:#fff;
    border-radius:50%;
    border:2px solid
}

.quiz-finish {
    position:absolute;
    bottom:5px;
    right:5px;
}

.quiz-answer {
    width:60%;
    height:36px;
    border:2px solid;
    border-radius:6px;
    padding:7px;
    outline: 0 none;
    transition: box-shadow 0.5s;
}

.quiz-answer::-webkit-input-placeholder {
    color:#000;
}

.quiz-answer-btn, .quiz-dk-unl, .quiz-dk-l {
    transition: opacity 0.2s
}

.hak {
    font-size:x-small;
    margin-left:45%;
    margin-bottom:1px;
}

.quiz-result svg {
	width: 38px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-18px, -18px);
}
.path {
	stroke-dasharray: 1000;
	stroke-dashoffset: 0;
}
.path.line {
	stroke-dashoffset: 1000;
	-webkit-animation: dash 0.9s 0.35s ease-in-out forwards;
	animation: dash 0.9s 0.35s ease-in-out forwards;
}
.path.check {
	stroke-dashoffset: -100;
	-webkit-animation: dash-check 0.9s 0.35s ease-in-out forwards;
	animation: dash-check 0.9s 0.35s ease-in-out forwards;
}
p.success {
	color: #73af55;
}
p.error {
	color: #d06079;
}
@-webkit-keyframes dash {
	0% {
		stroke-dashoffset: 1000;
   }
	100% {
		stroke-dashoffset: 0;
   }
}
@keyframes dash {
	0% {
		stroke-dashoffset: 1000;
   }
	100% {
		stroke-dashoffset: 0;
   }
}
@-webkit-keyframes dash-check {
	0% {
		stroke-dashoffset: -100;
   }
	100% {
		stroke-dashoffset: 900;
   }
}
@keyframes dash-check {
	0% {
		stroke-dashoffset: -100;
   }
	100% {
		stroke-dashoffset: 900;
   }
}

.shake {
    animation: shake 0.2s ease-in-out 0s 2 forwards;
}

.box-dk {
    box-shadow: 0 0 0.5em red;
}

@keyframes shake {
  0% { margin-left: 0rem; }
  25% { margin-left: 0.5rem; }
  75% { margin-left: -0.5rem; }
  100% { margin-left: 0rem; }
}

.btn {
    transition: all .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
}

#scroll2top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: red;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    font-size: 27px;
}

#scroll2top:hover {
    background-color: #555;
}

.wl-search {
    padding-left: 5px;
    border: thin solid;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    border-right: none;
}

.wl-search-btn {
    background: darkturquoise;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    border: thin solid;
}

.not-allowed {
    cursor:not-allowed !important
}

.brand {
    margin-left:10px
}

input[type="text"]:disabled {
  background: #fff;
}

.quiz-finish-modal:hover {
    box-shadow:none !important
}

.quiz-finish-modal {
    width: 90% !important;
    position: absolute !important;
    left: 50%;
    transform: translate(-50%);
}

.a-hover:hover {
    color:#007bff !important
}

.quiz-tr {
    background: #f9f6f2;
    min-height: 120px;
    padding: 6px;
    font-family: cursive;
    border:thin solid
}

.social {
    width: 200px;
    height: 40px;
    background: white;
    line-height: 2;
    text-align: center;
    border: 1px solid;
    box-shadow: 0 1px 3px rgb(0 0 0 / 30%);
    transition: 0.2s
}

.social:hover {
    background:#e3e3ec
}

.social:hover a {
    color:#000 !important
}

.social a:hover {
    text-decoration:none !important;
}

.social a {
    color:#727278 !important
}

.fundo{
  animation: scales 3s alternate  infinite;
  transform-origin: center;
}
.pao-baixo{
   animation: rotatepao 14s cubic-bezier(.1,.49,.41,.97)  infinite;
  transform-origin: center;
}
.pao-cima{
   animation: rotatepao 7s 1s cubic-bezier(.1,.49,.41,.97)  infinite;
  transform-origin: center;
}
.olhos{animation: olhos   2s  alternate  infinite;
   transform-origin: center;
}

.left-sparks{animation: left-sparks   4s  alternate  infinite;
      transform-origin: 150px 156px;
}

.right-sparks{animation: left-sparks   4s  alternate  infinite;
      transform-origin: 310px 150px;
}

.olhos{animation: olhos   2s  alternate  infinite;
   transform-origin: center;
}
@keyframes scales{
  from { transform: scale(0.98)}
  to{ transform: scale(1)}
}

@keyframes rotatepao{
  0% { transform:  rotate(0deg)}
  50% , 60%{ transform:  rotate(-20deg)}
  100%{  transform:  rotate(0deg) }

}

@keyframes olhos{
  0%{
    transform: rotateX(0deg);
  }
   100%{
    transform: rotateX(30deg);
  }
}

@keyframes left-sparks{
  0%{
    opacity: 0;
  }

}


.main{
  min-height: 600px;
  margin: 0px auto;
  width: auto;
  max-width: 460px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main .path {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation: dash-404 4s   alternate infinite;
}

@keyframes dash-404{
   0%, 30%{
     fill: 4B4B62;
    stroke-dashoffset:   0;
  }
   80%,100%{
     fill: transparent;
    stroke-dashoffset:  -200;
  }
}