*{
  box-sizing:border-box;
}

*::selection {
    background:var(--clr-primary);
    color:var(--clr-secondary)
}

:root {
    --clr-primary: #008080; /* teal */
    --clr-secondary: #fdf5e6; /* oldlace */
    --clr-tertiary: #2cb74c; /* light green */
    --clr-quartenary: #f0f8ff;  /* aliceblue */
}

i {
    user-select: none;
}

label {
    margin-bottom:0 !important
}

u {
    color:#ff4e4e
}

._table {
    width: 100%;
    color: #212529;
}

.auth-form {
    display:block;
    margin:auto;
    background:var(--clr-secondary);
    padding:1em 2em 2em 2em;
    border:thick double steelblue;
    height:625px !important;
    margin-top:48px
}

.auth-form a {
    color:blue !important;
}

.auth-form a:hover {
    text-decoration:underline !important
}

.icon-bar {
    width: 100%;
    background-color: var(--clr-primary);
    overflow: auto;
}

.icon-bar a:first-child {
    text-decoration:none;
    font-size:24px !important;
    text-align: center !important;
}

.icon-bar a, .icon-bar #menu {
    float: left;
    text-align:center;
    padding: 6px 0;
    transition: all 0.3s ease;
    color: var(--clr-secondary);
    width:20%;
}

#menu {
    height:48px
}

.icon-bar a:hover {
    background-color:rgba(222,84,53,1);
    text-decoration: none !important;
    color:var(--clr-secondary);
}

.icon-bar a:hover .span-ber {
    color:rgba(222,84,53,1)
}

.span-ber {
    position: relative;
    z-index: 1;
    color:var(--clr-primary);
    transition: all .3s;
}

.span-ber::before {
    content:'';
    position:absolute;
    height:36px;
    width:36px;
    background:var(--clr-secondary);
    z-index:-1;
    top: 3px;
    left: 1px;
}

.wotd-tr-list {
    margin-left:20%;
    margin-top:-5px;
    list-style:inside !important;
    width:73%;
    height:98px;
    overflow:auto;
    text-align: start !important;
}

.wotd-tr-list li::marker {
    color:var(--clr-primary) !important;
}

.aktif {
    background-color: var(--clr-tertiary);
}

.home-card {
    display: contents
}

.home-card button {
    width: 60%;
    align-self: center;
    padding: .375rem !important;
    box-shadow:none !important
}

.btn-before {
    background-color:var(--clr-primary) !important;
    color:#fff !important;
    opacity:0.8;
}

button.btn-before.disabled:hover {
    background-color:var(--clr-primary) !important;
    opacity:.65 !important;
}

.btn-before:hover {
    background-color:#2cb74c !important;
    opacity:1 !important;
}

.btn-before:focus {
    box-shadow:none !important
}

.btn-after {
    background-color:#2cb74c !important;
    color:#fff !important;
}

.btn-after:hover {
    background-color:#ff4e4e !important;
}

.btn-after:hover span {
    display:none;
}

.btn-after:hover::before {
    content:'Kelimeyi Sil'
}

.home-card-footer {
    position:absolute;
    bottom:5px;
    left:50%;
    transform:translate(-50%);
    width:100%
}

.card {
    margin: 10px 0 10px 0 !important;
    padding-bottom:10px;
    background: var(--clr-secondary) !important
}

.card-shadow {
    box-shadow: 3px 3px 5px 1px black;
    min-height:295px;
}

.card-shadow > div:first-child {
    padding: 4px 0;
    border-bottom: 1px solid rgba(0,0,0,0.2)
}

.card-note {
    height: 308px !important;
    box-shadow:0px 0px 8px 1px black
}

.card a {
    color:var(--clr-primary) !important
}

.card-note a {
    margin-left:5px;
}

.cn-2p,
.cn-3p,
.cn-4p {
    transition:transform 4s;
}

.cn-1c,
.cn-2c,
.cn-3c,
.cn-4c {
    outline: 5px solid;
    outline-offset: -9px;
    outline-color:var(--clr-primary);
}

.ul-last-added,
.ul-starred,
.ul-unlearned,
.ul-learned {
    list-style: revert !important;
    padding-left: revert !important;
    margin-top:2.5rem
}

.ul-last-added li::marker,
.ul-starred li::marker,
.ul-unlearned li::marker,
.ul-learned li::marker {
    color:var(--clr-primary)
}

.card-img-top {
    max-width: 85px;
    cursor:pointer !important;
    background: var(--clr-secondary) !important
}

.table td, .table th {
    border-top:none !important;
    border-bottom:none !important
}

cb-dict {
    pointer-events: all !important;
    width: 18px;
    height: 18px;
    vertical-align: sub;
}

tbody {
    width:100%
}

tr {
    width:100%
}

.search {
    min-height:570px !important;
    background: var(--clr-secondary);
    box-shadow: 0 0 8px black
}

.search-top {
    border-bottom: thin solid darkgray;
    min-height:40px
}

.form-2 {
    height:40px;
    background: rgba(205,67,91,1);
    margin-left: -1px;
}

.srch-i {
    width:45%;
    background-color: var(--clr-primary);
    padding: 5px;
    color: #fff;
    height: 30px;
    margin-top: 4px;
    margin-left: 4px;
    padding-left: 5px;
    border:none;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    transition: box-shadow .2s
}

.srch-i::-webkit-input-placeholder {
    color:var(--clr-secondary);
}

.srch-i:focus {
    outline: none !important;
    box-shadow: 0px 0px 3px 1px var(--clr-primary);
}

.srch-i::selection {
    background:var(--clr-secondary) !important;
    color:var(--clr-primary) !important
}

.srch-i:focus + .srch-btn {
    outline: none !important;
    box-shadow: 1px 0px 3px 1px var(--clr-primary);
}

.srch-btn:focus {
    outline: none !important;
}

.srch-i::-webkit-search-cancel-button {
    color:#fff !important;
}

.srch-btn {
    height: 30px;
    margin-top: 4px;
    background: var(--clr-primary);
    border:none;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    transition: box-shadow .2s
}

.srch-btn i {
    color:var(--clr-secondary);
    margin-left:3px;
    margin-top:3px
}

.srch-btn i:hover {
    opacity:1 !important
}

.ui-widget {
    font-size: .9em !important;
    font-weight: normal !important
}

.ui-menu-item-wrapper:hover {
    background: rgba(0, 0, 0, 0.5) !important;
    color:#fff !important
}

.add-btn {
    border: thin solid #000;
    border-radius: 25%;
    background: var(--clr-primary);
    cursor: pointer;
    width:25px;
    height:24px;
    position:relative;
    margin-top:2px;
    z-index: 1
}

.add-btn:hover {
    opacity:.8
}

.plus {
  position:absolute;
  width:2px;
  height:16px;
  background: #fff;
  top:50%;
  margin-top: -8px;
  left:51%;
  margin-left: -1px;
  transition: all 0.3s
}

.minus {
  position:absolute;
  height:2px;
  width:16px;
  background: #fff;
  left:50%;
  margin-left:-8px;
  top: 50%;
  margin-top:-1px;
  transition: all 0.3s
}

.change .plus {
    transform: rotate(90deg)
}

.change .minus {
    opacity: 0
}

.change {
    background: brown
}

.cb-dict {
    position: inherit !important;
    opacity: 1 !important;
}

#history-big {
    margin-left:-30px;
}

#history-big .history-body {
    width:155px;
}

.history-head {
    height: 40px;
    border-bottom: thin ridge darkgray;
    border-left: thin ridge darkgray;
    background: var(--clr-secondary);
    box-shadow: 2px 2px 4px black;
    line-height:2.5;
    font-family:revert;
}

#open-his {
    width:155px;
    border-top:none !important;
    border-right:none !important;
    position:relative;
    user-select:none;
    font-weight:bold
}

img[alt="Geçmiş"] {
    vertical-align:text-top !important
}

#open-his:focus {
    outline:none !important
}

#open-his::before {
    content:'';
    height:40px;
    width:0;
    background:var(--clr-primary);
    opacity:.1;
    transition:width .5s;
    transform-origin:left;
    position:absolute;
    left:0;
    top:0;
}

#open-his:hover::before {
    width:154px;
}

.history-body {
    min-height:530px
}

.history-body, .history-body-sm {
    max-height: 570px;
    padding: 8px;
    border-left: thin ridge darkgray;
    background: var(--clr-secondary);
    box-shadow: 2px 2px 4px black;
    position:relative;
    z-index:1
}

.history-body a, .history-body-sm a {
    color:var(--clr-primary) !important
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 0 !important;
}

.examples {
    background: var(--clr-secondary);
    border: thin ridge darkred;
    box-shadow: 0 0 8px black;
    padding: 0 20px 20px 20px;
}

.examples li {
    border:medium outset darkturquoise !important;
    padding:10px;
    background:var(--clr-quartenary);
}

.anto-syn {
    margin-bottom: 50px;
    height: 250px;
}

.hover-primary {
    color:black;
}

.hover-primary:hover {
    color:var(--clr-primary)
}

.word a {
    color:var(--clr-primary) !important;
    padding-left:7px
}

.word a:hover {
    color:none !important;
}

.err-mng {
    background:var(--clr-primary);
    color:var(--clr-secondary);
    padding:2px 7px;
    text-align:left;
    width:100%;
    display:flex;
}

.syn span, .anto span, .examples > span {
    color: #FFF;
    display: table;
    margin: 0 auto;
    font-weight: bold;
    background: var(--clr-primary);
    outline: 4px solid darkturquoise;
    outline-offset: -13px;
    border: 3px solid darkturquoise;
    border-radius: 10px;
    box-shadow: 0px 3px 5px 0px black;
}

.examples > span {
    margin-bottom:21px;
}

.syn, .anto {
    height: 250px;
    width: inherit;
    background: var(--clr-secondary);
    border-bottom: thin ridge darkred;
    border-top: thin ridge darkred;
}

.syn {
    border-left : thin ridge darkred;
    border-right: thin ridge darkred;
    box-shadow: -1px 0 6px black;
}

.anto {
    border-right: thin ridge darkred;
    border-left : thin ridge darkred;
    box-shadow: 2px 0 6px black
}

ul {
    list-style: none !important;
    padding-left: 0 !important
}

#ul-anto, #ul-syn {
    margin-top: 21px !important;
}

#ul-syn li, #ul-anto li {
    border: medium outset darkturquoise !important;
    padding: 10px;
    background: var(--clr-quartenary);
}

#ul-syn li a, #ul-anto li a {
    color:var(--clr-primary);
    font-weight:700
}

.search-words {
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    bottom:10px;
    width:75%
}

.search-words::placeholder {
    color: #000 !important
}

.tbl-words {
    height:625px;
    background: var(--clr-secondary);
    box-shadow: 0 0 8px 1px black;
    border-radius:10px;
}

.add-tr, .del-tr {
    border:none;
    background:inherit;
    margin-left:5px
}

.add-tr:focus {
    outline: none !important;
}

.add-tr:disabled i:hover {
    opacity:1 !important
}

.del-tr:focus {
    outline: none !important;
}

.fa-question-circle {
    z-index:1
}

.unl-word, .l-word {
    overflow-x: hidden;
    max-height:626px
}

.unl-word > li, .l-word > li {
    border: 2px solid var(--clr-primary);
    padding: 8px;
    background: var(--clr-quartenary);
    border-radius: 50px;
    margin: 5px 10px;
}

.unl-word > li:hover, .l-word > li:hover {
    background:#D0EAE9
}

@media (max-width:421px) {
    .icon-bar a {
        font-size: 16px !important;
        text-align:left
    }
    .icon-bar a i {
        margin-left: 20px;
        margin-right: 20px;
    }
    .btn-grp i {
        margin-right:.25rem
    }
}

@media (min-width:312px) {
    .custom-select {
        width:25% !important
    }
}

@media (max-width:312px) {
    .custom-select {
        width: 45% !important
    }
    .quiz-answer {
        width:75% !important
    }
    .chevron {
        font-size:smaller !important;
    }
    .chevron-right {
        right:0 !important
    }
    .chevron-left {
        left:0 !important
    }
}

@media (min-width:421px) {
    .icon-bar a {
        font-size: 24px !important;
    }
    .icon-bar a i {
        transition: transform 0.3s ease
    }
    .icon-bar a:hover i {
        transform: translateX(-5px)
    }
}

.wl-title {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 9px;
    background: var(--clr-primary);
    outline: 3px solid darkturquoise;
    outline-offset: -8px;
    border: 3px solid darkturquoise;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px black;
    color: oldlace;
    text-align: center;
}

.palegr {
    background:palegreen
}

.paleturq {
    background:paleturquoise
}

.title-home {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: -15px;
    padding: 8px;
    background: var(--clr-primary);
    outline: 3px solid darkturquoise;
    outline-offset: -8px;
    border: 2px solid darkturquoise;
    border-radius: 10px;
    box-shadow: 0px 3px 5px 0px black;
    text-align: center;
    color: oldlace;
}

.title-unl {
    width:140px;
    height:45px;
}

.title-l {
    width:140px;
    height:45px;
}

.title-star {
    width:100px;
    height:45px;
}

.title-last {
    width:135px;
    height:45px;
}

.star:hover {
    color:#f0ea02
}

.cadet:hover {
    color:dodgerblue
}

.word-mng {
    max-height:670px;
    background:var(--clr-secondary);
    box-shadow: 0 0 8px 1px black;
    border-radius:10px
}

.word-mng > div:first-child {
    height:55px
}

.word-mng-search {
   margin-top:6px
}

.word-mng-search input,
.word-mng-search button {
    margin-top:0 !important
}

.mng-bottom {
    display:grid
}

.mng-body input:focus,
.mng-bottom input:focus {
    outline: 2px solid var(--clr-primary) !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #fff inset !important;
}

input:focus::placeholder {
  color: transparent !important;
}

@media (min-width:768px) and (max-width:768px) {
    .tbl-first {
        margin-right:-16px
    }
}

@media (max-width:397px) {
    .srch-i, .srch-btn {
        height:35px;
        margin-top:6px;
    }
    .search-top {
        padding-bottom:6px
    }
    .word-mng-search input {
        width:50% !important
    }
    .word-mng-search input,
    .word-mng-search button {
        height:30px !important;
    }
}

@media (min-width: 450px) {
    .table-responsive {
        display:table !important;
    }
}

@media (max-width: 450px) {
    .table-responsive {
        display:block !important;
    }
}

@media (max-width: 349px) {
    .tooltip-content {
        width:210px !important
    }
    .ref-resp {
        position: absolute;
        bottom: -51px;
        left: 10%;
    }
    .quiz-resp {
        position: absolute;
        bottom: -51px;
        right: 10%;
    }
    .login-btn {
        width:55% !important
    }
    .login-input {
        width:75%
    }
}

@media (min-width: 349px) {
    button.login-btn {
        width:40% !important
    }
    .login-input {
        width:60%
    }
    .socialaccount_ballot {
        width:30%
    }
}

@media (max-width: 768px) {
    #history-big {
        display:none
    }
    #history-sm {
        margin-bottom: 10px;
    }
}

@media (min-width: 576px) and (max-width:576px) {
    .navbar-toggler {
        display:none !important
    }

}

@media (min-width: 349px) and (max-width:576px) {
    .ref-resp {
        position: absolute;
        bottom: -51px;
        left: 20%;
    }
    .quiz-resp {
        position: absolute;
        bottom: -51px;
        right: 20%;
    }
}

@media (min-width: 576px) {
    .wl-title {
        margin-top: -15px !important
    }
    .unl-word > li:first-child, .l-word > li:first-child {
        margin-top: 58px !important
    }
    .syn span,
    .anto span,
    .examples > span {
        padding:20px;
    }
}

@media (max-width: 576px) {
    .srch-i {
        width:40%
    }
    .unl-word, .l-word {
        margin-top: -16px !important
    }
    .unl-word > li:first-child, .l-word > li:first-child {
        margin-top: 73px !important
    }
    .wl-title {
        margin-top: -1px !important
    }
    .anto {
        margin-bottom: 50px !important;
    }
    .mng-bottom {
        margin-top: .5rem !important
    }
    .pagination:first-child {
        margin-bottom: 25px !important
    }
    .mng-form2 {
        margin-bottom:10px !important
    }
    .navbar-toggler {
        background:var(--clr-quartenary) !important;
    }
        .pd-neg {
        padding-right:0 !important;
        padding-left:0 !important
    }
    .container-md {
        padding-right:0 !important;
        padding-left:0 !important
    }
    .icon-bar i {
        margin-left:10px;
    }
    .syn span,
    .anto span,
    .examples > span {
        padding:15px;
    }
}

@media (min-width: 768px) {
    #history-sm {
        display:none
    }
    #history-big {
        display:block !important
    }
}

@media (min-width: 768px) and (max-width:992px) {
    .ref-resp {
        position: absolute;
        bottom: -51px;
        left: 20%;
    }
    .quiz-resp {
        position: absolute;
        bottom: -51px;
        right: 20%;
    }
    .word-mng-search input {
        width:50% !important
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .examples {
        width: 450px !important
    }
    .word-mng-search input {
        width:100px !important
    }
}

@media (min-width: 1200px) {
    .word-mng-search input {
        width:125px !important
    }
}

@media (min-width: 992px) {
    .err-mng {
        width:90% !important
    }
}

@media (max-width: 992px) {
    .mb-6 {
        margin-bottom:3.5rem
    }
    .mb-7 {
        margin-bottom:4.5rem
    }
}

@media (min-width: 463px) and (max-width: 576px) {
    .history-li {
        width: 40% !important
    }
}

@media (min-width:1200px) {
    .examples {
        width: 540px !important
    }
    .container-home {
        padding-bottom:45px
    }
    .ref-resp {
        position: absolute;
        bottom: -51px;
        left: 15%;
    }
    .quiz-resp {
        position: absolute;
        bottom: -51px;
        right: 15%;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .ref-resp {
        position: absolute;
        bottom: -51px;
        left: 10%;
    }
    .quiz-resp {
        position: absolute;
        bottom: -51px;
        right: 10%;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .mng-bottom {
        margin-top: 0 !important;
    }
    .word-mng {
        margin-bottom: 25px !important
    }
    .pagination:first-child {
        margin-bottom: 20px !important
    }
    .ref-resp {
        position: absolute;
        bottom: -51px;
        left: 10%;
    }
    .quiz-resp {
        position: absolute;
        bottom: -51px;
        right: 10%;
    }
}

.tr-first:first-child {
    border-top:none !important;
}

.tr-section {
    margin-left:20px;
}

.tr-section span {
    border-bottom:
    medium solid var(--clr-primary);
    padding: 1px;
}

.tr-section strong {
    color:var(--clr-primary)
}

.tr-section > div:first-child {
    margin-top: 10px;
    margin-bottom: 5px;
}

.eye {
    color: goldenrod;
}

.eye i {
    margin-left: -6px;
    margin-right: -6px !important
}

.del {
    color:crimson;
}

.btn-grp {
    padding-right:3px;
}

.btn-grp i, .btn-grp button {
    outline: 0 !important;
    border: none !important;
    background: inherit !important;
    cursor:pointer;
}

.cadet {
    color: cadetblue
}

.dodger {
    color: dodgerblue
}

.tick-learn {
    color: #2cb74c !important;
}

.tick-unlearn {
    color: #2cb74c !important;
}

.pale-yellow {
    color: #f0ea02;
}

.ref-img {
    transform:rotate(45deg);
    margin-top:-11px;
}

.flip-card {
    transform:rotateY(1turn)
}

.fa-question-circle {
    color:var(--clr-primary)
}

.tt {
  position: absolute;
  left:2px;
  top:0px;
}

.tooltip-content {
  display:none;
  position:absolute;
  background: paleturquoise;
  flex-direction: column;
  border: medium solid;
  padding: 2px;
  z-index: 1;
  width:300px
}

.tooltip-content div {
  display:flex;
  border-bottom: thin solid
}

.tooltip-content div:last-child {
  border-bottom:none !important;
}

.tooltip-content div i {
  align-self:center;
  margin-right: 5px;
}

body {
    background: var(--clr-primary) !important;
    font-family: system-ui !important;
    font-weight: 600 !important;
}

html,
body {
  margin: 0;
  height:100%
}

input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


.menu {
    cursor: pointer;
    transition: 0.5s ease;
    height: 24px;
    width:24px !important;
    margin-top:8px
}
.menu:hover .bar {
    box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.3);
}
.menu .bar {
    width: 24px;
    height: 5px;
    background: var(--clr-secondary);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    transition: 0.4s ease;
}
.menu .bar:not(:first-child) {
    margin-top: 3px;
}
#hi {
    position: absolute;
    left: -999px;
    top: -999px;
}
#hi:checked + .menu {
    transform: rotatey(180deg);
}
#hi:checked + .menu .bar {
    transform: rotatey(180deg) rotatex(360deg);
}
#hi:checked + .menu .bar:first-child {
    transform: rotate(-45deg);
    margin-top: 8px;
}
#hi:checked + .menu .bar:nth-child(2) {
    opacity: 0;
}
#hi:checked + .menu .bar:nth-child(3) {
    margin-top: -13px;
    transform: rotate(45deg);
}

.sr-1 {
    position:absolute;

}

.swing {
    animation: swing 2.4s ease-in-out infinite;
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    transform-origin: top;
}

.swing:hover {
    animation: swing-hover 2.4s ease-in-out infinite;
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    transform-origin: top;
}

.object-unl {
    position: absolute;
    bottom: -21px;
    left: 65%;
}

.ref-fav {
    position: absolute;
    bottom: -51px;
    left: 50%;
    transform:translate(-50%)
}

.object-rope {
    height: 20px;
    width: 2px;
    background-color: #ff4e4e;
    content:"";
    display: block;
    bottom: 54px;
    margin-left:50%
}

.object-content {
    background: var(--clr-secondary);
    color: var(--clr-primary);
    width: 70px;
    height: 30px;
    text-align: center;
    transition:all .2s;
    cursor:pointer;
    font-weight:500;
    box-shadow: 0px 0px 5px black;
}

.object-content:hover {
    background: rgba(0,0,0,0.2);
    font-size: 1.1em;
    color: oldlace;
}

.object-content:focus {
    outline:none;
}

@keyframes swing  {
    0% { transform: rotate(1deg); }
    50% { transform: rotate(-1deg); }
    100% { transform: rotate(1deg); }
}

@keyframes swing-hover  {
    0% { transform: rotate(5deg); }
    50% { transform: rotate(-5deg); }
    100% { transform: rotate(5deg); }
}

.modal-content {
    border-radius: 1rem;
    transition:all .2s
}

.modal-content-l,
.modal-content-unl {
    height:550px;
    background:var(--clr-primary) !important
}

.modal-content-l:hover,
.modal-content-unl:hover {
    box-shadow: 0 0 10px 1px black !important
}

.modal-body {
    background: var(--clr-secondary);
}

.modal-body-content > div:nth-child(3) {
    font-size:small
}

.modal-body-content > div:nth-child(3) ul {
    list-style:initial !important;
    padding-left:15px !important;
}

.modal-header {
    border-bottom:3px solid #dee2e6 !important;
    background:beige
}

.modal-footer {
    border-top:3px solid #dee2e6 !important;
    background:beige
}

.modal-body-unl, .modal-body-l {
    overflow: auto;
    max-height: 100%;
    background: var(--clr-secondary);
    position:relative;
}

.b1 {
    background-color: #2b84be;
    box-shadow: 0px 4px #337095;
    font-size: 17px
}

.r3 {
    color: #c1c1c1;
    font-weight: 500
}

.close-quiz {
    position:absolute;
    right:2px;
    top:0
}

.close-quiz:focus {
    outline: none !important
}

.title-quiz {
    position: absolute;
    top: -22px;
    left: 50%;
    width:135px;
    transform: translate(-50%);
    color: beige;
    background: var(--clr-primary);
    padding: 8px;
    border: medium solid var(--clr-secondary);
    text-shadow: 1px 1px 7px #ff4e4e;
    font-size:1.25em;
    line-height: 1.3;
}

.title-quiz::before {
    content: '';
    display: block;
    position: absolute;
    top: 32px;
    left: 7px;
    width: 115px;
    height: 3px;
    background: oldlace;
    box-shadow: 1px 2px 6px 2px #ff4e4e;
}

.close-quiz span{
    color:seashell
}

.quiz-err-unl, .quiz-err-l {
    font-size:small;
    color:#ff4e4e;
}

.quiz-word {
    height:200px;
}

.loader-wrapper {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%)
}

.loader {
    --background: linear-gradient(135deg, #23C4F8, #275EFE);
    --shadow: rgba(39, 94, 254, 0.28);
    --text: #6C7486;
    --page: rgba(255, 255, 255, 0.36);
    --page-fold: rgba(255, 255, 255, 0.52);
    --duration: 3s;
    width: 200px;
    height: 140px;
    position: relative;
}
.loader:before, .loader:after {
    --r: -6deg;
    content: '';
    position: absolute;
    bottom: 8px;
    width: 120px;
    top: 80%;
    box-shadow: 0 16px 12px var(--shadow);
    transform: rotate(var(--r));
}
.loader:before {
    left: 4px;
}
.loader:after {
    --r: 6deg;
    right: 4px;
}
.loader div {
    width: 100%;
    height: 100%;
    border-radius: 13px;
    position: relative;
    z-index: 1;
    perspective: 600px;
    box-shadow: 0 4px 6px var(--shadow);
    background-image: var(--background);
}
.loader div ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}
.loader div ul li {
    --r: 180deg;
    --o: 0;
    --c: var(--page);
    position: absolute;
    top: 10px;
    left: 10px;
    transform-origin: 100% 50%;
    color: var(--c);
    opacity: var(--o);
    transform: rotateY(var(--r));
    animation: var(--duration) ease;
}
.loader div ul li:nth-child(2) {
    --c: var(--page-fold);
    animation-name: page-2;
}
.loader div ul li:nth-child(3) {
    --c: var(--page-fold);
    animation-name: page-3;
}
.loader div ul li:nth-child(4) {
    --c: var(--page-fold);
    animation-name: page-4;
}
.loader div ul li:nth-child(5) {
    --c: var(--page-fold);
    animation-name: page-5;
}
.loader div ul li svg {
    width: 90px;
    height: 120px;
    display: block;
}
.loader div ul li:first-child {
    --r: 0deg;
    --o: 1;
}
.loader div ul li:last-child {
    --o: 1;
}
.loader span {
    display: block;
    left: 0;
    right: 0;
    top: 100%;
    margin-top: 20px;
    text-align: center;
    color: var(--text);
}
@keyframes page-2 {
    0% {
    transform: rotateY(180deg);
    opacity: 0;
    }
    20% {
    opacity: 1;
    }
    35%, 100% {
    opacity: 0;
    }
    50%, 100% {
    transform: rotateY(0deg);
    }
}
@keyframes page-3 {
    15% {
    transform: rotateY(180deg);
    opacity: 0;
    }
    35% {
    opacity: 1;
    }
    50%, 100% {
    opacity: 0;
    }
    65%, 100% {
    transform: rotateY(0deg);
    }
}
@keyframes page-4 {
    30% {
    transform: rotateY(180deg);
    opacity: 0;
    }
    50% {
    opacity: 1;
    }
    65%, 100% {
    opacity: 0;
    }
    80%, 100% {
    transform: rotateY(0deg);
    }
}
@keyframes page-5 {
    45% {
    transform: rotateY(180deg);
    opacity: 0;
    }
    65% {
    opacity: 1;
    }
    80%, 100% {
    opacity: 0;
    }
    95%, 100% {
    transform: rotateY(0deg);
    }
}

.quiz-question {
    position:relative;
    height: 140px;
    background:#f9f6f2;
    outline:2px solid rgb(0%,50.2%,50.2%,0.2)
}

.quiz-question span {
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    color:var(--clr-primary)
}

.h5 {
    height:75px;
    overflow:auto
}

.chevron-left,
.chevron-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 32px;
    border:none !important;
    background:inherit;
    color:var(--clr-primary)
}

.chevron-right {
    right: 5px;
}

.chevron-left {
    left: 5px;
}

.chevron-right:hover, .chevron-left:hover {
    text-shadow: 1px 1px 5px #000000;
}

.chevron-right:focus, .chevron-left:focus {
    outline: none !important
}

.quiz-result {
    position:relative;
    height:36px;
    width:36px;
    background:#fff;
    border-radius:50%;
    border:2px solid
}

.quiz-finish {
    position:absolute;
    bottom:5px;
    right:5px;
}

.quiz-answer {
    width:60%;
    height:36px;
    border:2px solid;
    border-radius:6px;
    padding:7px;
    outline: 0 none;
    transition: box-shadow 0.5s;
}

.quiz-answer:focus {
    border:medium solid var(--clr-primary) !important;
    box-shadow:var(--clr-primary) 0px 0px 5px;
    transition:none !important
}

.quiz-answer::-webkit-input-placeholder {
    color:#000;
}

.quiz-answer-btn, .quiz-dk-unl, .quiz-dk-l {
    transition: opacity 0.2s
}

.hak {
    font-size:x-small;
    margin-left:45%;
    margin-bottom:1px;
}

.quiz-result svg {
    width: 38px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-18px, -18px);
}
.path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
}
.path.line {
    stroke-dashoffset: 1000;
    -webkit-animation: dash 0.9s 0.35s ease-in-out forwards;
    animation: dash 0.9s 0.35s ease-in-out forwards;
}
.path.check {
    stroke-dashoffset: -100;
    -webkit-animation: dash-check 0.9s 0.35s ease-in-out forwards;
    animation: dash-check 0.9s 0.35s ease-in-out forwards;
}
p.success {
    color: #73af55;
}
p.error {
    color: #d06079;
}
@-webkit-keyframes dash {
    0% {
        stroke-dashoffset: 1000;
   }
    100% {
        stroke-dashoffset: 0;
   }
}
@keyframes dash {
    0% {
        stroke-dashoffset: 1000;
   }
    100% {
        stroke-dashoffset: 0;
   }
}
@-webkit-keyframes dash-check {
    0% {
        stroke-dashoffset: -100;
   }
    100% {
        stroke-dashoffset: 900;
   }
}
@keyframes dash-check {
    0% {
        stroke-dashoffset: -100;
   }
    100% {
        stroke-dashoffset: 900;
   }
}

.shake {
    animation: shake 0.2s ease-in-out 0s 2 forwards;
}

.box-dk {
    box-shadow: 0 0 0.5em #ff4e4e;
    border-color:#ff4e4e;
}

@keyframes shake {
  0% { margin-left: 0rem; }
  25% { margin-left: 0.5rem; }
  75% { margin-left: -0.5rem; }
  100% { margin-left: 0rem; }
}

.btn {
    transition: all .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
}

#scroll2top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 65px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: var(--clr-tertiary);
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    font-size: 27px;
}

#scroll2top:hover {
    background-color: #555;
}

.not-allowed {
    cursor:not-allowed !important
}

.brand {
    margin-left:10px
}

input[type="text"]:disabled {
  background: #fff;
}

.quiz-finish-modal:hover {
    box-shadow:none !important
}

.quiz-finish-modal {
    width: 70% !important;
    position: absolute !important;
    left: 50%;
    transform: translate(-50%);
}

.a-hover:hover {
    color:#007bff !important
}

.quiz-tr {
    background: #f9f6f2;
    min-height: 120px;
    padding: 6px;
    outline:2px solid rgb(0%,50.2%,50.2%,0.2)
}

.quiz-tr div:nth-child(2) ul {
    list-style:initial !important;
    margin-left:18px
}

.social {
    background: var(--clr-quartenary);
    line-height: 2.5;
    text-align: center;
    box-shadow: 0 1px 3px rgb(0 0 0 / 30%);
    transition: 0.2s;
    cursor:pointer;
}

.social button:focus {
    outline: none !important
}

.social:hover {
    background:#D0EAE9
}

.social:hover a {
    color:#000 !important
}

.social a:hover {
    text-decoration:none !important;
}

.social a {
    color:#727278 !important
}

.fundo{
  animation: scales 3s alternate  infinite;
  transform-origin: center;
}
.pao-baixo{
   animation: rotatepao 14s cubic-bezier(.1,.49,.41,.97)  infinite;
  transform-origin: center;
}
.pao-cima{
   animation: rotatepao 7s 1s cubic-bezier(.1,.49,.41,.97)  infinite;
  transform-origin: center;
}
.olhos{animation: olhos   2s  alternate  infinite;
   transform-origin: center;
}

.left-sparks{animation: left-sparks   4s  alternate  infinite;
      transform-origin: 150px 156px;
}

.right-sparks{animation: left-sparks   4s  alternate  infinite;
      transform-origin: 310px 150px;
}

.olhos{animation: olhos   2s  alternate  infinite;
   transform-origin: center;
}
@keyframes scales{
  from { transform: scale(0.98)}
  to{ transform: scale(1)}
}

@keyframes rotatepao{
  0% { transform:  rotate(0deg)}
  50% , 60%{ transform:  rotate(-20deg)}
  100%{  transform:  rotate(0deg) }

}

@keyframes olhos{
  0%{
    transform: rotateX(0deg);
  }
   100%{
    transform: rotateX(30deg);
  }
}

@keyframes left-sparks{
  0%{
    opacity: 0;
  }

}


.main{
  min-height: 600px;
  margin: 0px auto;
  width: auto;
  max-width: 460px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main .path {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation: dash-404 4s   alternate infinite;
}

@keyframes dash-404{
   0%, 30%{
     fill: 4B4B62;
    stroke-dashoffset:   0;
  }
   80%,100%{
     fill: transparent;
    stroke-dashoffset:  -200;
  }
}

.brand-logo {
    font-size:24px;
    font-variant:small-caps;
    font-family:none;
    user-select: none;
}

.brand-logo span {
    margin:-3px;
    display:inline-block;
}

.icon-bar a:first-child:hover span:first-child {
    animation:ez 1.5s infinite ease;
}

.icon-bar a:first-child:hover span:last-child {
    animation:le 1.5s .7s infinite ease-in-out;
}

@keyframes ez {
    0%{transform:rotate(0)}
    30%{transform:translate(-10px,-10px) rotate(35deg)}
    60%{transform:rotate(0)}
    100%{transform:rotate(0)}
}

@keyframes le {
    0%{transform:rotate(0)}
    30%{transform:translate(10px,-10px) rotate(-35deg)}
    60%{transform:rotate(0)}
    100%{transform:rotate(0)}
}

#english-l, #english-unl {
    width:75%
}

.no-tr {
    margin-left:0 !important;
    text-align:center !important
}

.scndTable {
    padding: 25px;
    background:var(--clr-primary);
    color:var(--clr-secondary)
}

.table {
    margin-bottom:0 !important
}

.srch-sug {
    padding:15px
}

.srch-sug p {
    border-bottom:thin solid;
    margin-top:1rem;
}

.srch-sug li {
    list-style:inside
}

label#checkbox {
    position:relative
}

label#checkbox input[type=checkbox] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

label.custom-cb input[type=checkbox]:checked + span {
    background-image:url(../img/checkbox-after.png)
}

label.custom-cb input[type=checkbox] + span {
    background-image:url(../img/checkbox-before.png)
}

label#checkbox span {
  position: absolute;
  top: -14px;
  left: 3px;
  height: 16px;
  width: 16px;
}

label#checkbox input[disabled=disabled] + span {
    opacity:0.5
}

.err-msg {
    font-size:x-small
}

.times-err {
    position:absolute;
    right:2px;
    top:-5px;
    cursor:pointer
}

.container-md {
    padding-top:48px
}

i.material-icons:hover {
    opacity:0.7
}

.mng-top {
    border-bottom:medium solid var(--clr-primary);
    border-top:medium solid var(--clr-primary);
    display:grid
}

label.custom-cb {
    font-size:12px;
    margin-top:2px;
    position:relative
}

label.custom-cb input[type=checkbox] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.show-fav {
    margin-top:3px;
}

label[for="show-fav"] span {
    position: absolute;
    top: 0;
    left: -20px;
    height: 16px;
    width: 16px;
}

.reset-unl,
.reset-l {
    margin-right:5px
}

.audio i {
    cursor:pointer;
}

.container-media,
.container-home {
    padding-top:48px
}

.teal {
    color:var(--clr-primary)
}

.teal-bg {
    background-color:var(--clr-primary);
    color:var(--clr-secondary)
}

.fa-list-ol {
    font-size:x-large
}

#confirm-text {
    background:var(--clr-quartenary)
}

#confirm-text + .modal-footer {
    background:var(--clr-quartenary);
    padding:0 !important
}

#res-l-ul,
#res-unl-ul {
    padding-inline-start:5px;
    margin-top:0.5rem;
    width:100%
}

#res-l-ul li,
#res-unl-ul li {
    list-style-position:inside;
    background: var(--clr-quartenary);
    border-radius: 20px;
    padding: 5px 14px;
    border: medium solid var(--clr-primary);
    display: flex;
    justify-content: space-between;
    margin-top:0.5em;
    margin-bottom:0.5em
}

#res-unl > div,
#res-l > div {
    display:grid;
    place-items:center
}

#fixedSearch {
    position: fixed;
    bottom: 170px;
    right: -135px;
    z-index: 99;
    text-align: -webkit-center;
    transform:rotate(-25deg) scale(0);
    transition:all .5s
}

.fixedSearchInput {
    border: none !important;
    border-radius: 13px;
    width: 120px;
    height: 50px;
    background: var(--clr-quartenary);
    color: teal;
    outline: none !important;
    box-shadow: 0px 0px 2px 2px var(--clr-tertiary);
    text-align: center;
    padding: 12px;
    transition:box-shadow 0.2s;
    font-weight:500;
}

.fixedSearchBtn {
    display:block;
    padding:3px 15px;
    border: 3px solid var(--clr-quartenary) !important;
    box-shadow: 0px 0px 5px 1px var(--clr-tertiary);
    opacity:1 !important;
    border-radius:20px;
}

.fixedSearchSwing {
    position: absolute;
    left: 36px;
    top: 51px;
}

.fixedSearchSwing .object-rope {
    transition:height 0.5s;
    margin-left:0 !important;
    background-color: var(--clr-tertiary) !important
}

.fixedSearchInput:focus {
    box-shadow: 0px 0px 15px 2px var(--clr-tertiary);
}

.fixedSearchInput:focus + .fixedSearchSwing .object-rope {
    height:40px;
}

.fixedSearchAnim {
    bottom: 160px !important;
    right: 30px !important;
    transform: rotate(0deg) scale(1) !important
}

.login.d-grid {
    place-items:center
}

.d-grid {
    display:grid
}

.login-input {
    background-color:#fff !important;
    border-radius:30px;
    border:none !important;
    padding:10px;
    text-align:center;
    margin-top: .75rem;
    margin-bottom: .75rem;
    color:var(--clr-primary);
    outline:none !important;
    box-shadow: 0 0 1px 1px var(--clr-primary) !important;
    transition:all .2s
}

.login-input:-webkit-autofill,
.login-input:-webkit-autofill:hover,
.login-input:-webkit-autofill:focus,
.login-input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 1px 1px var(--clr-primary) !important;
}

.login-input:focus {
    box-shadow: 0 0 3px 2px var(--clr-primary) !important;
    outline:none !important
}

.login-input::placeholder {
    color:var(--clr-primary)
}

.login-btn {
    border-radius:20px;
}

.btn-before.login-btn {
    padding:.5rem;
    border:none !important;
    transition:all .2s
}

li.social {
    border-radius:20px;
    margin-top:1rem;
}

.modal-header {
    border-bottom:none !important;
}

label[for="remember"] span {
    position: absolute;
    top: 1px;
    left: 70px;
    height: 16px;
    width: 16px;
}

.modal-login {
    background-color:transparent !important;
    border:none !important
}

.modal-login .modal-header {
    background:var(--clr-primary);
    color:var(--clr-secondary);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.modal-login .modal-body {
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.modal-login a {
    color:var(--clr-primary) !important
}

.close {
    outline:none !important;
    color:inherit !important;
}

.btn-dd {
    border:none !important;
    background:inherit !important
}

.btn-dd:focus {
    outline: none !important
}

.dropdown-menu {
    padding:0 !important
}

.dropdown-item:hover {
    background-color:var(--clr-primary) !important;
    color:var(--clr-secondary) !important
}

.nav-link {
    color:var(--clr-primary) !important;
}

.nav-link.active {
    color:var(--clr-secondary) !important;
    background-color:var(--clr-primary) !important;
    border-color:rgb(0%,50.2%,50.2%,0.2)
}

.btn-danger-custom {
    color:#fff !important;
    background-color:#ff4e4e !important;
    border-color:#ff4e4e !important
}

.btn-danger-custom:hover {
    color: #fff;
    background-color: #c82333 !important;
    border-color: #bd2130 !important;
}